<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Workflow</title>
    <link rel="icon" href="../favicon.ico" type="image/png">
    <link rel="stylesheet" type="text/css" href="../../static/common/css/iconfont.css">
    <link rel="stylesheet" href="../../static/common/css/reset.css">
    <link rel="stylesheet" href="../../static/common/css/public.css">
    <link rel="stylesheet" href="../../static/task/css/nfv.css">
    <link rel="stylesheet" href="../../static/task/css/bios_config.css">
</head>

<body>
    <!-- banner -->
    <div class="banner">
        <div class="top">
            <div class="top_left w">
                <a href="#" class="t_one"></a>
            </div>
            <div class="top_right w">
                <span class="tr_name">王大拿</span>
                <div class="t_one">
                    <ul class="personal">
                        <img src="../../static/common/img/arrow_03.png" alt="">
                        <a href="#" class="name">王大拿</a>
                        <a href="#">
                            <i class="iconfont icon-set"></i>个人设置</a>
                        <a href="#">
                            <i class="iconfont icon-tuichu"></i>退出登录
                        </a>
                    </ul>
                </div>
                <a href="#" class="t_two"></a>
            </div>
        </div>
        <div class="w3">
            <div class="ban_title">
                <div class="tit">工作流列表</div>
                <div class="describe">工作流列表整体的一段描述</div>
                <div class="list">包含有
                    <div>
                        <span>2个激活 </span>
                    </div>
                    <div>
                        <span>工作流</span>
                    </div>
                    <div>
                        <span>1个蓝色</span>
                    </div>
                    <div>
                        <span>1个红色</span>
                    </div>
                </div>
            </div>
        </div>
        <img src="../../static/common/img/workflow_01.gif" alt="">
    </div>
    <!-- banner-end -->

    <!-- content-start -->
    <div class="content">
        <div class="w2">
            <!-- table -->
            <div class="pack">
                <div class="tab_top clearfix">
                    <div class="add">
                        <a href="javascript:;" class="create clearfix">
                            <i class="iconfont icon-jia"></i>
                            <span>创建新任务</span>
                        </a>
                        <a href="javascript:;" class="structure clearfix">
                            <i class="iconfont icon-zuzhijiagou-"></i>
                            <span>构建</span>
                        </a>
                        <a href="javascript:;" class="clearfix reconstruction">
                            <i class="iconfont icon-queue"></i>
                            <span>复建</span>
                        </a>
                        <a href="javascript:;" class="delete clearfix">
                            <i class="iconfont icon-shanchu"></i>
                            <span>删除</span>
                        </a>
                    </div>
                    <div class="select">
                        <div class="select_box">
                            <i class="iconfont icon-shaixuan"></i>
                            <span>过滤器</span>
                            <img src="../../static/common/img/bottom.png" alt="">
                        </div>
                        <div class="options_box">
                            <span v-url="a">清除过滤器</span>
                            <span v-url="b">项目</span>
                            <span v-url="c">状态</span>
                            <span v-url="d">可建造</span>
                        </div>
                    </div>
                    <ul class="pid">
                        <li>全部</li>
                        <li>CMCC试点测试任务</li>
                        <li>NFV试点项目测试</li>
                    </ul>
                    <div class="search">
                        <form name="form1" method="post" action="?c=Index&a=search" target="_blank">
                            <input class="sear_input" name="textword" autofocus="autofocus" type="text" placeholder="搜索从这里开始...">
                            <button type="submit" class="iconfont icon-sousuo"></button>
                        </form>
                    </div>
                </div>
                <div class="table_show">
                    <table rules="all" class="table">
                        <tr class="table_th">
                            <th class="all_select"><input type="checkbox" id="all_select" />
                                <label for="all_select"></label></th>
                            <th>工作流名称</th>
                            <th>工作流描述</th>
                            <th>状态</th>
                            <th>是否
                                <br />可构建</th>
                            <th>任务数</th>
                            <th>操作</th>
                        </tr>
                        <tr>
                            <td><input type="checkbox" id="pid1" />
                                <label for="pid1"></label></td>
                            <td>NFV test1</td>
                            <td>China Mobile NFV</td>
                            <td>
                                <span class="color_red">notbuilt</span>
                            </td>
                            <td>
                                <span class="color_blue">True</span>
                            </td>
                            <td>
                                3
                            </td>
                            <td>
                                <a href="javascript:;" class="edit">编辑</a>
                                <a href="#">详情</a>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" id="pid2" />
                                <label for="pid2"></label></td>
                            <td>NFV test1</td>
                            <td>China Mobile NFV</td>
                            <td>
                                <span class="color_red">notbuilt</span>
                            </td>
                            <td>
                                <ul class="construction">
                                    <li>构建中…</li>
                                    <li></li>
                                </ul>
                            </td>
                            <td>
                                3
                            </td>
                            <td>
                                <a href="javascript:;" class="edit">编辑</a>
                                <a href="#">详情</a>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" id="pid3" />
                                <label for="pid3"></label></td>
                            <td>NFV test1</td>
                            <td>China Mobile NFV</td>
                            <td>
                                <span class="color_red">notbuilt</span>
                            </td>
                            <td>
                                <span class="color_blue">True</span>
                            </td>
                            <td>
                                3
                            </td>
                            <td>
                                <a href="javascript:;" class="edit">编辑</a>
                                <a href="#">详情</a>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" id="pid4" />
                                <label for="pid4"></label></td>
                            <td>NFV test1</td>
                            <td>China Mobile NFV</td>
                            <td>
                                <span class="color_red">notbuilt</span>
                            </td>
                            <td>
                                <span class="color_blue">True</span>
                            </td>
                            <td>
                                3
                            </td>
                            <td>
                                <a href="javascript:;" class="edit">编辑</a>
                                <a href="#">详情</a>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" id="pid5" />
                                <label for="pid5"></label></td>
                            <td>NFV test1</td>
                            <td>China Mobile NFV</td>
                            <td>
                                <span class="color_red">notbuilt</span>
                            </td>
                            <td>
                                <span class="color_blue">True</span>
                            </td>
                            <td>
                                3
                            </td>
                            <td>
                                <a href="javascript:;" class="edit">编辑</a>
                                <a href="#">详情</a>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" id="pid6" />
                                <label for="pid6"></label></td>
                            <td>NFV test1</td>
                            <td>China Mobile NFV</td>
                            <td>
                                <span class="color_red">notbuilt</span>
                            </td>
                            <td>
                                <span class="color_blue">True</span>
                            </td>
                            <td>
                                3
                            </td>
                            <td>
                                <a href="javascript:;" class="edit">编辑</a>
                                <a href="#">详情</a>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" id="pid7" />
                                <label for="pid7"></label></td>
                            <td>NFV test1</td>
                            <td>China Mobile NFV</td>
                            <td>
                                <span class="color_red">notbuilt</span>
                            </td>
                            <td>
                                <span class="color_blue">True</span>
                            </td>
                            <td>
                                3
                            </td>
                            <td>
                                <a href="javascript:;" class="edit">编辑</a>
                                <a href="#">详情</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <!-- 分页 -->
            <div class="page">
                <div class="page_left">上一页</div>
                <div class="page_content">
                    <span class="hover">1</span>
                    <span>2</span>
                    <span>3</span>
                    <span>4</span>
                    <span>5</span>
                    <span>6</span>
                    <span>7</span>
                    <span>8</span>
                    <span>9</span>
                    <span>10</span>
                    <span>...</span>
                    <span>12</span>
                </div>
                <div class="page_right">下一页</div>
            </div>
        </div>
    </div>
    <!-- content-end -->

    <footer>
        <div class="one">
            <a href="#">关于我们</a>
            <a href="#">联系我们</a>
            <a href="#">使用条款</a>
            <a href="#">隐私政策</a>
        </div>
        <div class="two">
            <a href="">©2018 中国移动通信研究院版权所有 京公网安备 11010801000158</a>
        </div>
    </footer>
    <script type="text/javascript" src="../../static/common/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../../static/common/js/index.js"></script>
    <script type="text/javascript" src="../../static/workflow/js/workflow.js"></script>
    <script type="text/javascript">
        // structure(4) // 构建
        workflow.buildingTaskWindows(4) // 构建任务的弹窗

        var myFn = function () {
            var that = this
            $('.add .create').click(function () { // 为"创建新任务的按钮"注册事件
                that.popup(false, that.step_fn) // 调用弹窗的方法
            })

            $('table .edit').click(function () { // 为"编辑"操作注册事件
                that.popup('编辑工作流任务', that.step_fn)
            })

            that.step_fn()
        }

        myFn.prototype.popup = function (data, callback) { // 弹窗的方法
            var datas = {
                title: data.title ? data.title : '创建工作流任务'
            }

            var html =
                '<div class="create_pop">\
                    <div class="popup">\
                        <div class="iconfont icon-guanbi1 close"></div>\
                        <div class="popup_title">\
                            ' +
                datas.title +
                '\
                        </div>\
                        <div class="pop_line"></div>\
                        <div class="form">\
                            <form action="">\
                                <table class="pop_table">\
                                    <tr>\
                                        <td>任务名称</td>\
                                        <td>\
                                            <div class="form_input">\
                                                <input type="text" placeholder="任务名称">\
                                            </div>\
                                        </td>\
                                    </tr>\
                                    <tr>\
                                        <td>任务描述</td>\
                                        <td>\
                                            <textarea name="" class="text" placeholder="/opt/"></textarea>\
                                        </td>\
                                    </tr>\
                                    <tr>\
                                        <td>节点名称</td>\
                                        <td class="td_option node">\
                                            <div class="select">\
                                                <div class="input_box">\
                                                    <span>NFV_test_node</span>\
                                                    <img src="../../static/common/img/bottom.png" alt="">\
                                                </div>\
                                                <div class="options_box">\
                                                    <span>NFV_test_node1</span>\
                                                    <span>NFV_test_node2</span>\
                                                    <span>NFV_test_node3</span>\
                                                </div>\
                                            </div>\
                                        </td>\
                                    </tr>\
                                    <tr>\
                                        <td>步骤</td>\
                                        <td>\
                                            <ul class="td_box">\
                                                <li class="a">\
                                                    <span class="serial_number">1</span>\
                                                    <div class="select">\
                                                        <div class="select_box clearfix">\
                                                            <span>NFV_test_node</span>\
                                                            <img src="../../static/common/img/bottom.png" alt="">\
                                                        </div>\
                                                        <div class="options_box">\
                                                            <span>NFV_test_node1</span>\
                                                            <span>NFV_test_node2</span>\
                                                            <span>NFV_test_node3</span>\
                                                        </div>\
                                                    </div>\
                                                    <button>新增步骤</button>\
                                                </li>\
                                                <li class="b">\
                                                    <span class="serial_number">2</span>\
                                                    <div class="select">\
                                                        <div class="select_box clearfix">\
                                                            <span>NFV_test_node</span>\
                                                            <img src="../../static/common/img/bottom.png" alt="">\
                                                        </div>\
                                                        <div class="options_box">\
                                                            <span>NFV_test_node1</span>\
                                                            <span>NFV_test_node2</span>\
                                                            <span>NFV_test_node3</span>\
                                                        </div>\
                                                    </div>\
                                                    <i class="iconfont icon-guanbi1"></i>\
                                                </li>\
                                                <li class="c">\
                                                    <span class="serial_number">3</span>\
                                                    <div class="select">\
                                                        <div class="select_box clearfix">\
                                                            <span>NFV_test_node</span>\
                                                            <img src="../../static/common/img/bottom.png" alt="">\
                                                        </div>\
                                                        <div class="options_box">\
                                                            <span>NFV_test_node1</span>\
                                                            <span>NFV_test_node2</span>\
                                                            <span>NFV_test_node3</span>\
                                                        </div>\
                                                    </div>\
                                                    <i class="iconfont icon-guanbi1"></i>\
                                                </li>\
                                            </ul>\
                                        </td>\
                                    </tr>\
                                </table>\
                            </form>\
                        </div>\
                    </div>\
                </div>'

            $('body').append(html) // 生成弹窗
            $('.create_pop').css('display', 'block')

            callback ? callback() : ''

            var remove_ele = function () { // 删除弹窗的方法
                $('.create_pop').remove()
            }

            var click_remove = [ // 关闭弹窗的元素
                '.popup>.close'
            ]

            click_remove.forEach(ele => { // 为所有关闭弹窗的元素，执行删除弹窗的方法
                $(ele).click(remove_ele)
            })
        }

        myFn.prototype.step_fn = function () { // 步骤的方法
            function add_select(ele) { // 添加步骤的html结构
                $(ele).click(function () { // 给新增步骤按钮注册点击事件
                    var ul = $('.td_box')
                    var serial_number = $(this).parents('ul').find('li').length + 1
                    var html =
                        '<li>\
                                                <span class="serial_number">' +
                        serial_number +
                        '</span>\
                                                <div class="select">\
                                                    <div class="select_box clearfix">\
                                                        <span>NFV_test_node</span>\
                                                        <img src="../../static/common/img/bottom.png" alt="">\
                                                    </div>\
                                                    <div class="options_box">\
                                                        <span>NFV_test_node1</span>\
                                                        <span>NFV_test_node2</span>\
                                                        <span>NFV_test_node3</span>\
                                                    </div>\
                                                </div>\
                                                <i class="iconfont icon-guanbi1"></i>\
                                            </li>'
                    $(this).parents('ul').append(html) // 将新添加到html结构追加到她的父元素中
                    return false // 阻止button默认事件
                })
            }

            add_select('.create_pop .td_box button') // 调用生成步骤的方法

            dropDownSelect('li .options_box span') // 步骤下拉选项
            dropDownSelect('.node .options_box span') // 节点下拉选项

            $('.td_box').on('click', 'li .icon-guanbi1', function () { // 删除步骤的方法
                $(this).parent().remove()
                var lis = $('.td_box').find('li') // 获取删除后的所有li
                var liNum = lis.length + 1 // 获取li的个数

                lis.find('.serial_number').each((index, ele) => { // 重置序列号
                    $(ele).text(index + 1)
                })
            })
        }

        var my = new myFn()


    </script>
</body>

</html>