<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>WORKFLOW Details</title>
    <link rel="icon" href="../favicon.ico" type="image/png">
    <link rel="stylesheet" type="text/css" href="../../static/common/css/iconfont.css">
    <link rel="stylesheet" href="../../static/common/css/reset.css">
    <link rel="stylesheet" href="../../static/common/css/public.css">
    <link rel="stylesheet" href="../../static/project/css/task_details.css">
    <link rel="stylesheet" href="../../static/workflow/css/workflow_details.css">
</head>

<body>
    <!-- banner -->
    <div class="banner">
        <div class="top">
            <div class="top_left w">
                <a href="#" class="t_one"></a>
            </div>
            <div class="top_right w">
                <span class="tr_name">王大拿</span>
                <div class="t_one">
                    <ul class="personal">
                        <img src="../../static/common/img/arrow_03.png" alt="">
                        <a href="#" class="name">王大拿</a>
                        <a href="#">
                            <i class="iconfont icon-set"></i>个人设置</a>
                        <a href="#">
                            <i class="iconfont icon-tuichu"></i>退出登录
                        </a>
                    </ul>
                </div>
                <a href="#" class="t_two"></a>
            </div>
        </div>
        <div class="w3">
            <div class="ban_title">
                <div class="tit">工作流列表</div>
                <div class="describe">工作流列表整体的一段描述</div>
                <div class="list">包含有
                    <div>
                        <span>2个激活</span>
                    </div>
                    <div>
                        <span>工作流</span>
                    </div>
                    <div>
                        <span>1个蓝色</span>
                    </div>
                    <div>
                        <span>1个红色</span>
                    </div>
                </div>
            </div>
        </div>
        <img src="../../static/common/img/bios_banner_01.gif" alt="">
    </div>
    <!-- banner-end -->
    <div class="w3">
        <div class="container">
            <!-- crumbs-start -->
            <div class="crumbs">
                <a href="./workflow.html" class="crumb_title">返回工作流列表</a>
                <i class="iconfont icon-youjiantou"></i>
                <a href="bios_details.html" class="crumb_title">工作流详细信息</a>
            </div>
            <!-- crumbs-end -->

            <div class="box">
                <div class="box_title">
                    <i class="iconfont icon-navicon-lcpz"></i>
                    <span>这里书写展示BIOS_config_test1的名称</span>
                </div>
                <div class="line"></div>
                <div class="box_content">
                    <table>
                        <tr>
                            <td>任务类型：</td>
                            <td>BIOS</td>
                            <td></td>
                            <td>状态：</td>
                            <td>
                                <span class="color_red">Red</span>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>所属项目：</td>
                            <td>CMCC_NFVi_Test</td>
                            <td></td>
                            <td>是否可构建：</td>
                            <td>
                                <span class="color_blue">True</span>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>下次创建序号：</td>
                            <td>6</td>
                            <td></td>
                            <td>是否在列队中：</td>
                            <td>
                                <span class="color_green">Red</span>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>下次创建序号：</td>
                            <td colspan="5">这是一个测试数据展示，这是一个测试数据展示，这是一个测试数据展示这是一个测试数据展示，这是一个测试数据展示，这是一个
                                测试数据展示，这是一个测试数据展示，这是一个测试数据展示，这是一个测试数据展示，这是一个测试数据展示，这是一个测试数
                                据展示。
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <!-- 历史纪录 -->
        <!-- 任务修改历史记录-start -->
        <div class="historical">
            <div class="his_title">任务修改历史记录</div>
            <div class="his_box clearfix">
                <div class="his_minbox">
                    <div>
                        <div class="hismin_title">
                            <i class="iconfont icon-navicon-lcpz"></i>
                            <span>Workflow_test_example_01</span>
                        </div>
                    </div>
                    <div class="his_line"></div>
                    <table>
                        <tr>
                            <td>状态：</td>
                            <td><span class="color_red">Red</span></td>
                            <td>执行ID：</td>
                            <td>1</td>
                        </tr>
                    </table>
                </div>
                <div class="his_minbox">
                    <div>
                        <div class="hismin_title">
                            <i class="iconfont icon-navicon-lcpz"></i>
                            <span>Workflow_test_example_01</span>
                        </div>
                    </div>
                    <div class="his_line"></div>
                    <table>
                        <tr>
                            <td>状态：</td>
                            <td><span class="color_red">Red</span></td>
                            <td>执行ID：</td>
                            <td>1</td>
                        </tr>
                    </table>
                </div>
                <div class="his_minbox">
                    <div>
                        <div class="hismin_title">
                            <i class="iconfont icon-navicon-lcpz"></i>
                            <span>Workflow_test_example_01</span>
                        </div>
                    </div>
                    <div class="his_line"></div>
                    <table>
                        <tr>
                            <td>状态：</td>
                            <td><span class="color_red">Red</span></td>
                            <td>执行ID：</td>
                            <td>1</td>
                        </tr>
                    </table>
                </div>
                <div class="his_minbox">
                    <div>
                        <div class="hismin_title">
                            <i class="iconfont icon-navicon-lcpz"></i>
                            <span>Workflow_test_example_01</span>
                        </div>
                    </div>
                    <div class="his_line"></div>
                    <table>
                        <tr>
                            <td>状态：</td>
                            <td><span class="color_red">Red</span></td>
                            <td>执行ID：</td>
                            <td>1</td>
                        </tr>
                    </table>
                </div>
                <div class="his_minbox">
                    <div>
                        <div class="hismin_title">
                            <i class="iconfont icon-navicon-lcpz"></i>
                            <span>Workflow_test_example_01</span>
                        </div>
                    </div>
                    <div class="his_line"></div>
                    <table>
                        <tr>
                            <td>状态：</td>
                            <td><span class="color_red">Red</span></td>
                            <td>执行ID：</td>
                            <td>1</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!-- 任务修改历史记录-end -->

        <!-- 工作流构建列表-start -->
        <div class="historical">
            <div class="his_title">工作流构建列表</div>
            <div class="his_box clearfix">
                <div class="his_minbox">
                    <div>
                        <div class="hismin_title">
                            <i class="iconfont icon-navicon-lcpz"></i>
                            <span>建立时间：2018-07-18 08:10</span>
                        </div>
                    </div>
                    <div class="his_line"></div>
                    <table>
                        <tr>
                            <td>结果状态：</td>
                            <td><span class="color_red">Red</span></td>
                            <td>执行ID：</td>
                            <td>1</td>
                        </tr>
                    </table>
                </div>
                <div class="his_minbox">
                    <div>
                        <div class="hismin_title">
                            <i class="iconfont icon-navicon-lcpz"></i>
                            <span>建立时间：2018-07-18 08:10</span>
                        </div>
                    </div>
                    <div class="his_line"></div>
                    <table>
                        <tr>
                            <td>结果状态：</td>
                            <td><span class="color_red">Red</span></td>
                            <td>执行ID：</td>
                            <td>1</td>
                        </tr>
                    </table>
                </div>
                <div class="his_minbox">
                    <div>
                        <div class="hismin_title">
                            <i class="iconfont icon-navicon-lcpz"></i>
                            <span>建立时间：2018-07-18 08:10</span>
                        </div>
                    </div>
                    <div class="his_line"></div>
                    <table>
                        <tr>
                            <td>结果状态：</td>
                            <td><span class="color_red">Red</span></td>
                            <td>执行ID：</td>
                            <td>1</td>
                        </tr>
                    </table>
                </div>
                <div class="his_minbox">
                    <div>
                        <div class="hismin_title">
                            <i class="iconfont icon-navicon-lcpz"></i>
                            <span>建立时间：2018-07-18 08:10</span>
                        </div>
                    </div>
                    <div class="his_line"></div>
                    <table>
                        <tr>
                            <td>结果状态：</td>
                            <td><span class="color_red">Red</span></td>
                            <td>执行ID：</td>
                            <td>1</td>
                        </tr>
                    </table>
                </div>
                <div class="his_minbox">
                    <div>
                        <div class="hismin_title">
                            <i class="iconfont icon-navicon-lcpz"></i>
                            <span>建立时间：2018-07-18 08:10</span>
                        </div>
                    </div>
                    <div class="his_line"></div>
                    <table>
                        <tr>
                            <td>结果状态：</td>
                            <td><span class="color_red">Red</span></td>
                            <td>执行ID：</td>
                            <td>1</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!-- 工作流构建列表-end -->

        <!-- 工作流程配置历史记录-start -->
        <div class="historical">
            <div class="his_title">工作流程配置历史记录</div>
            <div class="his_box clearfix">
                <div class="his_minbox">
                    <div>
                        <div class="hismin_title">
                            <i class="iconfont icon-navicon-lcpz"></i>
                            <span>Workflow_test_example_01</span>
                        </div>
                    </div>
                    <div class="his_line"></div>
                    <table>
                        <tr>
                            <td>配置类型：</td>
                            <td>NFV</td>
                            <td>时间：</td>
                            <td>2081-07-17 08:10</td>
                        </tr>
                    </table>
                </div>
                <div class="his_minbox">
                    <div>
                        <div class="hismin_title">
                            <i class="iconfont icon-navicon-lcpz"></i>
                            <span>Workflow_test_example_01</span>
                        </div>
                    </div>
                    <div class="his_line"></div>
                    <table>
                        <tr>
                            <td>配置类型：</td>
                            <td>NFV</td>
                            <td>时间：</td>
                            <td>2081-07-17 08:10</td>
                        </tr>
                    </table>
                </div>
                <div class="his_minbox">
                    <div>
                        <div class="hismin_title">
                            <i class="iconfont icon-navicon-lcpz"></i>
                            <span>Workflow_test_example_01</span>
                        </div>
                    </div>
                    <div class="his_line"></div>
                    <table>
                        <tr>
                            <td>配置类型：</td>
                            <td>NFV</td>
                            <td>时间：</td>
                            <td>2081-07-17 08:10</td>
                        </tr>
                    </table>
                </div>
                <div class="his_minbox">
                    <div>
                        <div class="hismin_title">
                            <i class="iconfont icon-navicon-lcpz"></i>
                            <span>Workflow_test_example_01</span>
                        </div>
                    </div>
                    <div class="his_line"></div>
                    <table>
                        <tr>
                            <td>配置类型：</td>
                            <td>NFV</td>
                            <td>时间：</td>
                            <td>2081-07-17 08:10</td>
                        </tr>
                    </table>
                </div>
                <div class="his_minbox">
                    <div>
                        <div class="hismin_title">
                            <i class="iconfont icon-navicon-lcpz"></i>
                            <span>Workflow_test_example_01</span>
                        </div>
                    </div>
                    <div class="his_line"></div>
                    <table>
                        <tr>
                            <td>配置类型：</td>
                            <td>NFV</td>
                            <td>时间：</td>
                            <td>2081-07-17 08:10</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!-- 工作流程配置历史记录-end -->
    </div>

    <footer>
        <div class="one">
            <a href="#">关于我们</a>
            <a href="#">联系我们</a>
            <a href="#">使用条款</a>
            <a href="#">隐私政策</a>
        </div>
        <div class="two">
            <a href="">©2018 中国移动通信研究院版权所有 京公网安备 11010801000158</a>
        </div>
    </footer>

    <script type="text/javascript" src="../../static/common/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../../static/common/js/index.js"></script>
</body>

</html>