<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>AUTO - Index</title>
	<link rel="stylesheet" type="text/css" href="../../static/common/css/iconfont.css">
	<link rel="stylesheet" href="../../static/common/css/public.css">
	<link rel="stylesheet" type="text/css" href="../../static/common/css/common.css" />
	<link rel="stylesheet" type="text/css" href="../../static/common/css/global.css" />
	<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
	<link rel="icon" href="../../static/common/img/favicon-16x16.png" type="image/png">
	<link rel="stylesheet" href="../../static/common/css/reset.css">
	<link rel="stylesheet" href="../../static/common/css/index.css">
</head>

<body>
	<!-- banner -->
	<div class="banner">
		<div class="top">
			<div class="top_left w">
				<a href="#" class="t_one"></a>
			</div>
			<div class="top_right w">
				<span class="tr_name">王大拿</span>
				<div class="t_one">
					<ul class="personal">
						<img src="../../static/common/img/arrow_03.png" alt="">
						<a href="#" class="name">王大拿</a>
						<a href="#">
							<i class="iconfont icon-set"></i>个人设置</a>
						<a href="#">
							<i class="iconfont icon-tuichu"></i>退出登录
						</a>
					</ul>
				</div>
				<a href="#" class="t_two"></a>
			</div>
		</div>
		<div class="ban_box">
			<ul>
				<li>中国移动NFV电信云</li>
				<li>一个简洁可视化且功能强大的自动化平台</li>
			</ul>
		</div>
		<img src="../../static/common/img/banner.png" alt="">
	</div>
	<!-- banner-end -->

	<!-- nav -->
	<div class="nav">
		<ul id="tab_switch">
			<!-- tab切换 -->
			<li class="hover">项目信息</li>
			<li>任务信息</li>
			<li>工作流信息</li>
			<li>Slave节点信息</li>
		</ul>
	</div>
	<!-- nav-end -->

	<!-- nav_content-satrt -->
	<div class="nav_content w">
		<!-- 项目信息Tab内容开始 -->
		<div class="con_box" style="display: block;">
			<div id="project-wrapper">
				<div class="slave_list">
					<p class="slave_title">项目列表</p>
					<div class="slave_info">
						<div class="slave_box left">
							<i class="priority-icon high">高</i>
							<div class="slave_name">
								<i class="project_icon"></i>
								<span>这里是书写关于展示项目标题展示项目标名称NFV1…</span>
							</div>
							<p class="project_detail">
								<span class="start-time">开始时间：2018-05-01</span>
								<span class="creater">创建人：Nina Cui</span>
								<span>状态：<label class="project status blue">Healthy</label></span>
							</p>
							<p class="project_detail">
								<span class="end-time">结束时间：2018-10-01</span>
								<span>进度：<label class="progress"><label class="progress-bar"></label></label>&nbsp;&nbsp;23%</span>
							</p>
						</div>
						<div class="slave_box">
							<i class="priority-icon low">低</i>
							<div class="slave_name">
								<i class="project_icon"></i>
								<span>这里书写展示节点的名称NFV2</span>
							</div>
							<p class="project_detail">
								<span class="start-time">开始时间：2018-05-01</span>
								<span class="creater">创建人：Nina Cui</span>
								<span>状态：<label class="project status blue">Healthy</label></span>
							</p>
							<p class="project_detail">
								<span class="end-time">结束时间：2018-10-01</span>
								<span>进度：<label class="progress"><label class="progress-bar"></label></label></span>
								<span>23%</span>
							</p>
						</div>
						<div class="slave_box left">
							<i class="priority-icon middle">中</i>
							<div class="slave_name">
								<i class="project_icon"></i>
								<span>这里书写展示节点的名称NFV3</span>
							</div>
							<p class="project_detail">
								<span class="start-time">开始时间：2018-05-01</span>
								<span class="creater">创建人：Nina Cui</span>
								<span>状态：<label class="project status blue">Healthy</label></span>
							</p>
							<p class="project_detail">
								<span class="end-time">结束时间：2018-10-01</span>
								<span>进度：<label class="progress"><label class="progress-bar"></label></label></span>
								<span>23%</span>
							</p>
						</div>
					</div>
					<div class="btn_sec">
						<a class="more" href="slave_list.html">查看更多</a>
					</div>
				</div>

				<div class="w2 project">
					<div class="ech_btn">
						<span class="echbtn_one"></span>
						<span></span>
					</div>
					<div class="ech_switch">
						<ul>
							<li>
								<div class="nc_top">
									<a href="#">项目状态统计信息</a>
								</div>
								<img src="../../static/common/img/project_status.png" alt="">
							</li>
							<li>
								<div class="nc_top">
									<a href="#">项目优先级统计信息</a>
								</div>
								<img src="../../static/common/img/project_priority.png" alt="">
							</li>
						</ul>
					</div>
					<!-- 左右点击切换按钮 -->
					<div class="ech_left">
						<i class="iconfont icon-zuojiantou"></i>
					</div>
					<div class="ech_right">
						<i class="iconfont icon-youjiantou"></i>
					</div>

					<div class="contact">
						<i class="iconfont icon-ai-message"></i>
					</div>
				</div>

			</div>
		</div>
		<!-- 项目信息Tab内容结束 -->

		<!-- 任务信息Tab内容开始 -->
		<div class="con_box">
			<div class="nc_top">
				<a href="#">三大任务配置</a>
			</div>
			<!-- 旋转木马-start -->
			<div class="nc_bottom">
				<div class="sowing_map">
					<ul>
						<li class="p4">
							<a href="#">
								<img src="../../static/common/img/sowing_map3.png" alt="" />
							</a>
							<a href="#" class="p4_txt">NFV测试任务</a>
							<a href="#" class="p4_btn">进入任务</a>
						</li>
						<li class="p3">
							<a href="#">
								<img src="../../static/common/img/sowing_map1.png" alt="" />
							</a>
							<a href="#" class="p4_txt">BIOS配置任务</a>
							<a href="#" class="p4_btn">进入任务</a>
						</li>
						<li class="p2">
							<a href="#">
								<img src="../../static/common/img/sowing_map2.png" alt="" />
							</a>
							<a href="#" class="p4_txt">网络配置任务</a>
							<a href="#" class="p4_btn">进入任务</a>
						</li>
					</ul>
				</div>
				<!-- 添加左右两边点击按钮 -->
				<!-- <a href="javascript:;" class="prev btn"><</a>
          <a href="javascript:;" class="next btn">></a> -->
				<!-- 底部小四边形 -->
				<div class="buttons">
					<a href="javascript:;">
						<span></span>
					</a>
					<a href="javascript:;">
						<span class="cont_color cont_width"></span>
					</a>
					<a href="javascript:;">
						<span></span>
					</a>
				</div>
			</div>
			<!-- 旋转木马-end -->
			<!-- table-satrt -->
			<div class="container">
				<h2>任务列表信息</h2>
				<div class="table_show">
					<table rules="all" class="table">
						<tr class="ie_bgc">
							<th>任务名称</th>
							<th>所属项目</th>
							<th>类型</th>
							<th>状态</th>
							<th>是否可构建</th>
							<th>是否在列队中</th>
							<th>下次创建序号</th>
						</tr>
						<tr>
							<td>NFV test1</td>
							<td>China Mobile NFV</td>
							<td>NFVT</td>
							<td>
								<button class="button color_red">notbuilt</button>
							</td>
							<td>
								<button class="button color_blue">True</button>
							</td>
							<td>
								<button class="button color_green">False</button>
							</td>
							<td>1</td>
						</tr>
						<tr>
							<td>NFV test1</td>
							<td>China Mobile NFV</td>
							<td>NFVT</td>
							<td>
								<button class="button color_red">notbuilt</button>
							</td>
							<td>
								<button class="button color_blue">True</button>
							</td>
							<td>
								<button class="button color_green">False</button>
							</td>
							<td>1</td>
						</tr>
						<tr>
							<td>NFV test1</td>
							<td>China Mobile NFV</td>
							<td>NFVT</td>
							<td>
								<button class="button color_red">notbuilt</button>
							</td>
							<td>
								<button class="button color_blue">True</button>
							</td>
							<td>
								<button class="button color_green">False</button>
							</td>
							<td>1</td>
						</tr>
						<tr>
							<td>NFV test1</td>
							<td>China Mobile NFV</td>
							<td>NFVT</td>
							<td>
								<button class="button color_red">notbuilt</button>
							</td>
							<td>
								<button class="button color_blue">True</button>
							</td>
							<td>
								<button class="button color_green">False</button>
							</td>
							<td>1</td>
						</tr>
					</table>
				</div>
				<div class="table_but">
					<a href="">查看更多</a>
				</div>
				<div class="contact">
					<i class="iconfont icon-ai-message"></i>
				</div>
			</div>
			<!-- table-end -->
		</div>
		<!-- 任务信息Tab内容结束 -->

		<!-- 工作流信息Tab内容开始 -->
		<div class="con_box">
			<div class="nc_top">
				<a href="#">工作流列表信息</a>
			</div>
			<div class="clearfix">
				<div class="minbox">
					<div class="minbox_top">
						<i class="iconfont icon-msnui-workflow"></i>
						<a href="#">Workflow_test_example_01</a>
					</div>
					<div class="minbox_bottom">
						<ul>
							<li class="describe">
								状态：
								<a href="#" class="color_red">Red</a>
								可构建：
								<a href="#" class="color_green">True</a>
								任务数目：
								<i class="font_color">3</i>
							</li>
							<li>工作流描述： workflow example 01</li>
						</ul>
					</div>
				</div>
				<div class="minbox">
					<div class="minbox_top">
						<i class="iconfont icon-msnui-workflow"></i>
						<a href="#">Workflow_test_example_01</a>
					</div>
					<div class="minbox_bottom">
						<ul>
							<li class="describe">
								状态：
								<a href="#" class="color_blue">Red</a>
								可构建：
								<a href="#" class="color_green">True</a>
								任务数目：
								<i class="font_color">3</i>
							</li>
							<li>工作流描述： workflow example 01</li>
						</ul>
					</div>
				</div>
				<div class="minbox">
					<div class="minbox_top">
						<i class="iconfont icon-msnui-workflow"></i>
						<a href="#">Workflow_test_example_01</a>
					</div>
					<div class="minbox_bottom">
						<ul>
							<li class="describe">
								状态：
								<a href="#" class="color_blue">Red</a>
								可构建：
								<a href="#" class="color_green">True</a>
								任务数目：
								<i class="font_color">3</i>
							</li>
							<li>工作流描述： workflow example 01</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="table_but">
				<a href="">查看更多</a>
			</div>
			<div class="w2 work">
				<div class="ech_btn">
					<span class="echbtn_one"></span>
					<span></span>
				</div>
				<div class="ech_switch">
					<ul>
						<li>
							<div class="nc_top">
								<a href="#">工作流任务数目统计信息</a>
							</div>
							<div style="height: 470px; background-color: #f2f6fc; border: 1px solid #ececed;">
								<div id="main"></div>
								<div class="title">
									<div class="tit_top">工作流任务数目统计信息</div>
									<div class="tit_bottom">各个任务类型所占比例信息统计</div>
								</div>
								<!-- legend-start -->
								<div class="legend">
									<div class="bios_icon">
										<div></div>
										<span>BIOS</span>
									</div>
									<div class="netWork_icon">
										<div></div>
										<span>NETwork</span>
									</div>
									<div class="nfvTest_icon">
										<div></div>
										<span>NFV Test</span>
									</div>
									<div class="Others_icon">
										<div></div>
										<span>Others</span>
									</div>
								</div>
								<!-- legend-end -->
							</div>
						</li>
						<li>
							<div class="nc_top">
								<a href="#">工作流状态统计信息</a>
							</div>
							<div style="height: 470px; background-color: #f2f6fc; border: 1px solid #ececed;">
								<div id="main2"></div>
								<div class="title">
									<div class="tit_top">工作流状态统计信息</div>
									<div class="tit_bottom">涵盖全国各个地方省会城市，节点分布
										<br />数据展示</div>
								</div>
								<!-- legend-start -->
								<div class="legend">
									<div class="bios_icon">
										<div></div>
										<span>success</span>
									</div>
									<div class="netWork_icon">
										<div></div>
										<span>failure</span>
									</div>
									<div class="nfvTest_icon">
										<div></div>
										<span>building</span>
									</div>
									<div class="Others_icon">
										<div></div>
										<span>notbuilt</span>
									</div>
								</div>
								<!-- legend-end -->
							</div>
						</li>
					</ul>
				</div>
				<!-- 左右点击切换按钮 -->
				<div class="ech_left">
					<i class="iconfont icon-zuojiantou"></i>
				</div>
				<div class="ech_right">
					<i class="iconfont icon-youjiantou"></i>
				</div>

				<div class="contact">
					<i class="iconfont icon-ai-message"></i>
				</div>
			</div>
		</div>
		<!-- 工作流信息Tab内容结束 -->

		<!-- 节点流信息Tab内容开始 -->
		<div class="con_box">
			<div id="slave-wrapper">
				<div class="slave_list">
					<p class="slave_title">Slave节点列表信息</p>
					<div class="slave_info">
						<div class="slave_box left">
							<div class="slave_name"><i class="slave_icon"></i><span>这里书写展示节点的名称NFV1</span></div>
							<p>是否离线：<label class="status blue">True</label></p>
							<p>离线原因：无</p>
						</div>
						<div class="slave_box">
							<div class="slave_name"><i class="slave_icon"></i><span>这里书写展示节点的名称NFV2</span></div>
							<p>是否离线：<label class="status red">Wrong</label></p>
							<div class="offline">
								<p>离线原因：</p>
								<div class="offline_cause">这段文字是离线的原因，用于告知用户为什么是离线状态。这段文字是离线的原因，用于告知用户为什么是离线状态。</div>
							</div>
						</div>
						<div class="slave_box left">
							<div class="slave_name"><i class="slave_icon"></i><span>这里书写展示节点的名称NFV3</span></div>
							<p>是否离线：<label class="status blue">True</label></p>
							<p>离线原因：无</p>
						</div>
					</div>
					<div class="btn_sec">
						<a class="more" href="slave_list.html">查看更多</a>
					</div>
				</div>
				<div class="w2 slave">
					<div class="ech_btn">
						<span class="echbtn_one"></span>
						<span></span>
					</div>
					<div class="salve_switch">
						<ul>
							<li>
								<div class="nc_top">
									<a href="#">Slave节点区域分布信息</a>
								</div>
								<img src="../../static/common/img/node_region.png" alt="">
							</li>
							<li>
								<div class="nc_top">
									<a href="#">Slave在线统计信息</a>
								</div>
								<img src="../../static/common/img/node_online.png" alt="">
							</li>
						</ul>
					</div>
					<!-- 左右点击切换按钮 -->
					<div class="ech_left">
						<i class="iconfont icon-zuojiantou"></i>
					</div>
					<div class="ech_right">
						<i class="iconfont icon-youjiantou"></i>
					</div>

					<div class="contact">
						<i class="iconfont icon-ai-message"></i>
					</div>
				</div>
			</div>
		</div>
		<!-- 节点流信息Tab内容结束 -->
	</div>
	<!-- nav_content-end -->

	<footer>
		<div class="one">
			<a href="#">关于我们</a>
			<a href="#">联系我们</a>
			<a href="#">使用条款</a>
			<a href="#">隐私政策</a>
		</div>
		<div class="two">
			<a href="">©2018 中国移动通信研究院版权所有 京公网安备 11010801000158</a>
		</div>
	</footer>

	<script type="text/javascript" src="../../static/common/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="../../static/common/js/echarts.js"></script>
	<script type="text/javascript" src="../../static/common/js/my-echarts.js"></script>
	<script type="text/javascript" src="../../static/common/js/china.js"></script>
	<script type="text/javascript" src="../../static/common/js/index.js"></script>
	<script type="text/javascript">
		nav_switch() // nav 切换
		sowing_map() // 旋转木马
		ech_switch('.work .ech_switch ul li', '.work .ech_btn span', '.work .ech_switch ul', '.work .ech_right',
			'.work .ech_left', '.w2') // echarth图片切换-工作流信息图表
		ech_switch('.salve_switch ul li', '.slave .ech_btn span', '.salve_switch ul', '.slave .ech_right', '.slave .ech_left',
			'.w2') // echarth图片切换-Slave节点信息图表
		ech_switch('.project .ech_switch ul li', '.project .ech_btn span', '.project .ech_switch ul', '.project .ech_right',
			'.project .ech_left', '#project-wrapper>.project') // echarth图片切换-项目信息图表
		// task_num() // 工作流任务数目统计信息的 echarts
		// task_state() // 工作流状态统计信息的 echarts
		// slave1() // Slave节点列表信息的 echarts
	</script>
</body>

</html>