<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The last five task</title>
    <link rel="icon" href="../favicon.ico" type="image/png">
    <link rel="stylesheet" type="text/css" href="../../static/common/css/iconfont.css">
    <link rel="stylesheet" href="../../static/common/css/reset.css">
    <link rel="stylesheet" href="../../static/common/css/public.css">
    <link rel="stylesheet" href="../../static/project/css/project_details.css">
</head>

<body>
    <!-- banner -->
    <div class="banner">
        <div class="top">
            <div class="top_left w">
                <a href="#" class="t_one"></a>
            </div>
            <div class="top_right w">
                <span class="tr_name">王大拿</span>
                <div class="t_one">
                    <ul class="personal">
                        <img src="../../static/common/img/arrow_03.png" alt="">
                        <a href="#" class="name">王大拿</a>
                        <a href="#">
                            <i class="iconfont icon-set"></i>个人设置</a>
                        <a href="#">
                            <i class="iconfont icon-tuichu"></i>退出登录
                        </a>
                    </ul>
                </div>
                <a href="#" class="t_two"></a>
            </div>
        </div>
        <div class="w3">
            <div class="ban_title">
                <div class="tit">任务列表</div>
                <div class="describe">任务列表整体的一段描述</div>
                <div class="list">包含了有
                    <div>
                        <span>1个任务</span>
                    </div>
                    <div>
                        <span>1个blue</span>
                    </div>
                    <div>
                        <span>1个red</span>
                    </div>
                    <div>
                        <span>1个未创建</span>
                    </div>
                    <div>
                        <span>1个待创建</span>
                    </div>
                    <div>
                        <span>1个其他状态</span>
                    </div>
                </div>
            </div>
        </div>
        <img src="../../static/common/img/bios_banner_01.gif" alt="">
    </div>
    <!-- banner-end -->

    <!-- w3-start -->
    <div class="w3">
        <!-- crumbs-start -->
        <div class="crumbs">
            <a href="bios_config.html" class="crumb_title">返回BIOS任务列表</a>
            <i class="iconfont icon-youjiantou"></i>
            <a href="bios_details.html" class="crumb_title">任务详细信息</a>
            <i class="iconfont icon-youjiantou"></i>
            <a href="#" class="crumb_title">最后五次创建任务详情</a>
        </div>
        <!-- crumbs-end -->

        <!-- table-start -->
        <div class="table_show">
            <table rules="all" class="table">
                <tr class="table_th">
                    <th>创建ID</th>
                    <th>结果</th>
                    <th>任务名称</th>
                    <th>构建节点</th>
                    <th>建造</th>
                    <th>结果报告</th>
                </tr>
                <tr>
                    <td>5</td>
                    <td>
                        <span class="color_red">Wrong</span>
                    </td>
                    <td>
                        NFV function test
                    </td>
                    <td>
                        NFV_test_node1
                    </td>
                    <td>NFVT</td>
                    <td class="clearfix">
                        <div class="box html">
                            <i class="iconfont icon-geshi_wendanghtml"></i>
                            Html
                        </div>
                        <div class="box kaifa">
                            <i class="iconfont icon-kaifa"></i>
                            代码
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>
                        <span class="color_red">Wrong</span>
                    </td>
                    <td>
                        NFV function test
                    </td>
                    <td>
                        NFV_test_node1
                    </td>
                    <td>NFVT</td>
                    <td class="clearfix">
                        <div class="box html">
                            <i class="iconfont icon-geshi_wendanghtml"></i>
                            Html
                        </div>
                        <div class="box kaifa">
                            <i class="iconfont icon-kaifa"></i>
                            代码
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>
                        <span class="color_red">Wrong</span>
                    </td>
                    <td>
                        NFV function test
                    </td>
                    <td>
                        NFV_test_node1
                    </td>
                    <td>NFVT</td>
                    <td class="clearfix">
                        <div class="box html">
                            <i class="iconfont icon-geshi_wendanghtml"></i>
                            Html
                        </div>
                        <div class="box kaifa">
                            <i class="iconfont icon-kaifa"></i>
                            代码
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>
                        <span class="color_red">Wrong</span>
                    </td>
                    <td>
                        NFV function test
                    </td>
                    <td>
                        NFV_test_node1
                    </td>
                    <td>NFVT</td>
                    <td class="clearfix">
                        <div class="box html">
                            <i class="iconfont icon-geshi_wendanghtml"></i>
                            Html
                        </div>
                        <div class="box kaifa">
                            <i class="iconfont icon-kaifa"></i>
                            代码
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>
                        <span class="color_red">Wrong</span>
                    </td>
                    <td>
                        NFV function test
                    </td>
                    <td>
                        NFV_test_node1
                    </td>
                    <td>NFVT</td>
                    <td class="clearfix">
                        <div class="box html">
                            <i class="iconfont icon-geshi_wendanghtml"></i>
                            Html
                        </div>
                        <div class="box kaifa">
                            <i class="iconfont icon-kaifa"></i>
                            代码
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <!-- table-end -->
    </div>
    <!-- w3-end -->

    <!-- popup-start -->
    <!-- LOG详情 -->
    <div class="add_pop">
        <div class="popup">
            <div class="iconfont icon-guanbi1 close"></div>
            <div class="popup_title">
                LOG详情
            </div>
            <div class="pop_line"></div>
            <div class="content">
                <p>
                    &nbsp;&nbsp;Started by user admin
                    <br /> [EnvInject] - Loading node environment variables.
                    <br /> Building remotely on node_34_3 in workspace /root/slave/workspace/这是个测试任务
                    <br /> [copy-to-slave] Copying 'BIOS_Tools.tar.gz', excluding nothing, from 'file:/root/.jenkins/userContent/'
                    on the master to 'file:/root/slave/workspace/这是
                    <br /> 个测试任务/' on 'node_34_3'.
                    <br /> [这是个测试任务] $ /bin/bash /tmp/jenkins3421402397097150242.sh
                    <br /> /root/slave/workspace/这是个测试任务
                    <br /> BIOS_Tools.tar.gz
                    <br /> BIOS_Tools_package
                    <br /> Test_BMC_file.csv
                    <br /> **************************** Beign to Configurate BIOS Setup *******************************
                    <br /> Right IPMItool Version : 1.8.18
                    <br /> >>> Configurare the BIOS setup of the server : 192.168.18.34
                    <br /> Server ManufacturerName: H3C:
                    <br /> The system vendor is H3C
                    <br /> --> Begin to get and set BIOS variable of H3C
                    <br /> Success to set Hyper Threading
                    <br /> Get Hyper Threading value: 01
                    <br /> Success to set Boot Mode
                    <br /> Get Boot Mode value: 01
                    <br /> Success to set Processor Vmx
                    <br /> Get Processor Vmx value: 01
                    <br /> Success to set VT-d
                    <br /> Get VT-d value: 01
                    <br /> Success to set SR-IOV
                    <br /> Get SR-IOV value: 01"
                    <br />
                </p>
            </div>
        </div>
    </div>

    <!-- HTML详情 -->
    <div class="dele_pop">
        <div class="popup">
            <div class="iconfont icon-guanbi1 close"></div>
            <div class="popup_title">
                LOG详情
            </div>
            <div class="pop_line"></div>
            <div class="describe">Ping Report of 2018/07/26 14:44:27 </div>
            <table rules="all">
                <tr>
                    <th>BIC_IP</th>
                    <th>ManufacturerName</th>
                    <th>Status</th>
                </tr>
                <tr>
                    <td>192.168.18.34</td>
                    <td>H3C</td>
                    <td>True</td>
                </tr>
                <tr>
                    <td>192.168.18.35</td>
                    <td></td>
                    <td>False</td>
                </tr>
                <tr>
                    <td>192.168.18.36</td>
                    <td></td>
                    <td>False</td>
                </tr>
                <tr>
                    <td>192.168.18.37</td>
                    <td></td>
                    <td>False</td>
                </tr>
                <tr>
                    <td>192.168.18.38</td>
                    <td></td>
                    <td>False</td>
                </tr>
                <tr>
                    <td>192.168.18.185</td>
                    <td>Huawei</td>
                    <td>False</td>
                </tr>
            </table>

        </div>
    </div>
    <!-- popup-end -->

    <footer>
        <div class="one">
            <a href="#">关于我们</a>
            <a href="#">联系我们</a>
            <a href="#">使用条款</a>
            <a href="#">隐私政策</a>
        </div>
        <div class="two">
            <a href="">©2018 中国移动通信研究院版权所有 京公网安备 11010801000158</a>
        </div>
    </footer>
    <script type="text/javascript" src="../../static/common/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../../static/common/js/index.js"></script>
    <script type="text/javascript">
        auto.popup('.add_pop', '.kaifa', '.popup .close', '.popup .close2') // 创建新节点的弹窗
        auto.popup('.dele_pop', '.html', '.popup .close', '.popup .close2') // 创建新节点的弹窗
    </script>
</body>

</html>