<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Node</title>
    <link rel="icon" href="../favicon.ico" type="image/png">
    <link rel="stylesheet" type="text/css" href="../../static/common/css/iconfont.css">
    <link rel="stylesheet" href="../../static/common/css/reset.css">
    <link rel="stylesheet" href="../../static/common/css/public.css">
    <link rel="stylesheet" href="../../static/node/css/node.css">
</head>

<body>
    <!-- banner -->
    <div class="banner">
        <div class="top">
            <div class="top_left w">
                <a href="#" class="t_one"></a>
            </div>
            <div class="top_right w">
                <span class="tr_name">王大拿</span>
                <div class="t_one">
                    <ul class="personal">
                        <img src="../../static/common/img/arrow_03.png" alt="">
                        <a href="#" class="name">王大拿</a>
                        <a href="#">
                            <i class="iconfont icon-set"></i>个人设置</a>
                        <a href="#">
                            <i class="iconfont icon-tuichu"></i>退出登录
                        </a>
                    </ul>
                </div>
                <a href="#" class="t_two"></a>
            </div>
        </div>
        <div class="w3">
            <div class="ban_title">
                <div class="tit">节点列表</div>
                <div class="describe">节点列表整体的一段描述</div>
                <div class="list">系统中有
                    <div>
                        <span>3个节点</span>
                    </div>
                    <div>
                        <span>1个在线</span>
                    </div>
                    <div>
                        <span>2个离线</span>
                    </div>
                </div>
            </div>
        </div>
        <img src="../../static/common/img/node_banner_01.png" alt="Node">
    </div>
    <!-- banner-end -->

    <!-- content-start -->
    <div class="w3">
        <div class="w3_top clearfix">
            <div class="add">
                <i class="iconfont icon-jia"></i>
                <a href="javascript:;">创建新节点</a>
            </div>
            <div class="w3_right">
                <div class="select">
                    <div class="select_content">
                        <i class="iconfont icon-shaixuan"></i>
                        <span>过滤器</span>
                        <img src="../../static/common/img/bottom.png" alt="">
                    </div>
                    <div class="options" style="display: none;">
                        <span>清除过滤器</span>
                        <span>离线</span>
                        <span>在线</span>
                    </div>
                </div>
                <div class="search">
                    <form name="form1" method="post" action="?c=Index&amp;a=search" target="_blank">
                        <input class="sear_input" name="textword" autofocus="autofocus" type="text" placeholder="搜索从这里开始...">
                        <button type="submit" class="iconfont icon-sousuo"></button>
                    </form>
                </div>
            </div>
        </div>

        <div class="box clearfix">
            <div class="minbox">
                <div class="close">
                    <i class="iconfont icon-guanbi1"></i>
                </div>
                <div class="minbox_top">
                    <div class="slave_icon">
                        <i class="iconfont icon-jiedianziliucheng"></i>
                    </div>
                    <a href="#">这里书写展示节点的名称NFV2</a>
                </div>
                <div class="minbox_bottom">
                    <table>
                        <tr>
                            <td>是否离线：</td>
                            <td>
                                <a href="#" class="color_blue">True</a>
                            </td>
                        </tr>
                        <tr>
                            <td>离线原因：</td>
                            <td>
                                <p>工作流描述： workflow example 01
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="minbox">
                <div class="close">
                    <i class="iconfont icon-guanbi1"></i>
                </div>
                <div class="minbox_top">
                    <div class="slave_icon">
                        <i class="iconfont icon-jiedianziliucheng"></i>
                    </div>
                    <a href="#">这里书写展示节点的名称NFV2</a>
                </div>
                <div class="minbox_bottom">
                    <table>
                        <tr>
                            <td>是否离线：</td>
                            <td>
                                <a href="#" class="color_red">Wrong</a>
                            </td>
                        </tr>
                        <tr>
                            <td>离线原因：</td>
                            <td>
                                <p>这段文字是离线的原因，用于告知用户为什么是离线状态。这段文字是 离线的原因，用于告知用户为什么是离线状态。
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="minbox">
                <div class="close">
                    <i class="iconfont icon-guanbi1"></i>
                </div>
                <div class="minbox_top">
                    <div class="slave_icon">
                        <i class="iconfont icon-jiedianziliucheng"></i>
                    </div>
                    <a href="#">这里书写展示节点的名称NFV2</a>
                </div>
                <div class="minbox_bottom">
                    <table>
                        <tr>
                            <td>是否离线：</td>
                            <td>
                                <a href="#" class="color_blue">True</a>
                            </td>
                        </tr>
                        <tr>
                            <td>离线原因：</td>
                            <td>
                                <p>工作流描述： workflow example 01
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="minbox">
                <div class="close">
                    <i class="iconfont icon-guanbi1"></i>
                </div>
                <div class="minbox_top">
                    <div class="slave_icon">
                        <i class="iconfont icon-jiedianziliucheng"></i>
                    </div>
                    <a href="#">这里书写展示节点的名称NFV2</a>
                </div>
                <div class="minbox_bottom">
                    <table>
                        <tr>
                            <td>是否离线：</td>
                            <td>
                                <a href="#" class="color_red">Wrong</a>
                            </td>
                        </tr>
                        <tr>
                            <td>离线原因：</td>
                            <td>
                                <p>这段文字是离线的原因，用于告知用户为什么是离线状态。这段文字是 离线的原因，用于告知用户为什么是离线状态。
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="minbox">
                <div class="close">
                    <i class="iconfont icon-guanbi1"></i>
                </div>
                <div class="minbox_top">
                    <div class="slave_icon">
                        <i class="iconfont icon-jiedianziliucheng"></i>
                    </div>
                    <a href="#">这里书写展示节点的名称NFV2</a>
                </div>
                <div class="minbox_bottom">
                    <table>
                        <tr>
                            <td>是否离线：</td>
                            <td>
                                <a href="#" class="color_blue">True</a>
                            </td>
                        </tr>
                        <tr>
                            <td>离线原因：</td>
                            <td>
                                <p>工作流描述： workflow example 01
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="minbox">
                <div class="close">
                    <i class="iconfont icon-guanbi1"></i>
                </div>
                <div class="minbox_top">
                    <div class="slave_icon">
                        <i class="iconfont icon-jiedianziliucheng"></i>
                    </div>
                    <a href="#">这里书写展示节点的名称NFV2</a>
                </div>
                <div class="minbox_bottom">
                    <table>
                        <tr>
                            <td>是否离线：</td>
                            <td>
                                <a href="#" class="color_red">Wrong</a>
                            </td>
                        </tr>
                        <tr>
                            <td>离线原因：</td>
                            <td>
                                <p>这段文字是离线的原因，用于告知用户为什么是离线状态。这段文字是 离线的原因，用于告知用户为什么是离线状态。
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="minbox">
                <div class="close">
                    <i class="iconfont icon-guanbi1"></i>
                </div>
                <div class="minbox_top">
                    <div class="slave_icon">
                        <i class="iconfont icon-jiedianziliucheng"></i>
                    </div>
                    <a href="#">这里书写展示节点的名称NFV2</a>
                </div>
                <div class="minbox_bottom">
                    <table>
                        <tr>
                            <td>是否离线：</td>
                            <td>
                                <a href="#" class="color_blue">True</a>
                            </td>
                        </tr>
                        <tr>
                            <td>离线原因：</td>
                            <td>
                                <p>工作流描述： workflow example 01
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="minbox">
                <div class="close">
                    <i class="iconfont icon-guanbi1"></i>
                </div>
                <div class="minbox_top">
                    <div class="slave_icon">
                        <i class="iconfont icon-jiedianziliucheng"></i>
                    </div>
                    <a href="#">这里书写展示节点的名称NFV2</a>
                </div>
                <div class="minbox_bottom">
                    <table>
                        <tr>
                            <td>是否离线：</td>
                            <td>
                                <a href="#" class="color_red">Wrong</a>
                            </td>
                        </tr>
                        <tr>
                            <td>离线原因：</td>
                            <td>
                                <p>这段文字是离线的原因，用于告知用户为什么是离线状态。这段文字是 离线的原因，用于告知用户为什么是离线状态。
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="minbox">
                <div class="close">
                    <i class="iconfont icon-guanbi1"></i>
                </div>
                <div class="minbox_top">
                    <div class="slave_icon">
                        <i class="iconfont icon-jiedianziliucheng"></i>
                    </div>
                    <a href="#">这里书写展示节点的名称NFV2</a>
                </div>
                <div class="minbox_bottom">
                    <table>
                        <tr>
                            <td>是否离线：</td>
                            <td>
                                <a href="#" class="color_blue">True</a>
                            </td>
                        </tr>
                        <tr>
                            <td>离线原因：</td>
                            <td>
                                <p>工作流描述： workflow example 01
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="minbox">
                <div class="close">
                    <i class="iconfont icon-guanbi1"></i>
                </div>
                <div class="minbox_top">
                    <div class="slave_icon">
                        <i class="iconfont icon-jiedianziliucheng"></i>
                    </div>
                    <a href="#">这里书写展示节点的名称NFV2</a>
                </div>
                <div class="minbox_bottom">
                    <table>
                        <tr>
                            <td>是否离线：</td>
                            <td>
                                <a href="#" class="color_red">Wrong</a>
                            </td>
                        </tr>
                        <tr>
                            <td>离线原因：</td>
                            <td>
                                <p>这段文字是离线的原因，用于告知用户为什么是离线状态。这段文字是 离线的原因，用于告知用户为什么是离线状态。
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <!-- 分页 -->
        <div class="page">
            <div class="page_left">上一页</div>
            <div class="page_content">
                <span class="hover">1</span>
                <span>2</span>
                <span>3</span>
                <span>4</span>
                <span>5</span>
                <span>6</span>
                <span>7</span>
                <span>8</span>
                <span>9</span>
                <span>10</span>
                <span>...</span>
                <span>12</span>
            </div>
            <div class="page_right">下一页</div>
        </div>
    </div>
    <!-- content-end -->

    <!-- 创建新节点的弹窗 -->
    <div class="add_pop">
        <div class="popup">
            <div class="iconfont icon-guanbi1 close"></div>
            <div class="popup_title">
                节点配置
            </div>
            <div class="add_line"></div>
            <div class="form">
                <form action="">
                    <table>
                        <tr>
                            <td>节点名称</td>
                            <td>
                                <div class="form_input">
                                    <input type="text" placeholder="节点名称">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>节点工作目录</td>
                            <td>
                                <div class="form_input">
                                    <input type="text" placeholder="/opt/">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>节点构建数</td>
                            <td>
                                <div class="form_input">
                                    <input type="text" placeholder="4">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>节点IP地址</td>
                            <td>
                                <div class="form_input">
                                    <input type="text" placeholder="192.168.0.100">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>节点OS用户</td>
                            <td>
                                <div class="form_input">
                                    <input type="text" value="zhangpang">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>节点OS密码</td>
                            <td>
                                <div class="form_input">
                                    <input type="text" value="zhp****123">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <div class="btn">
                                    <button class="close2">取消</button>
                                    <button class="preservation">保存</button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>

    <!-- 删除节点的弹窗 -->
    <div class="dele_pop">
        <div class="deel_box">
            <h1>是否确认删除该节点？</h1>
            <h2>您是否确认删除该节点，删除之后不可恢复！</h2>
            <div class="btn_box">
                <a href="#" class="dele_colse">取消</a>
                <a href="#" class="dele_ok">确认</a>
            </div>
            <div class="dele_colse">
                <i class="iconfont icon-guanbi"></i>
            </div>
        </div>
    </div>

    <footer>
        <div class="one">
            <a href="#">关于我们</a>
            <a href="#">联系我们</a>
            <a href="#">使用条款</a>
            <a href="#">隐私政策</a>
        </div>
        <div class="two">
            <a href="">©2018 中国移动通信研究院版权所有 京公网安备 11010801000158</a>
        </div>
    </footer>
    <script type="text/javascript" src="../../static/common/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../../static/common/js/index.js"></script>
    <script type="text/javascript">
        popup('.add_pop', '.add', '.popup .close', '.popup .close2', '.popup .preservation') // 创建新节点的弹窗
        popup('.dele_pop', '.minbox>.close', '.dele_colse', '.dele_ok') // 删除节点的弹窗
        selectfn('.w3_top .options span', '.w3_top .select_content', '.w3_top .options'); // 下拉选项
    </script>
</body>

</html>