<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>user_settings</title>
    <link rel="icon" href="../favicon.ico" type="image/png">
    <link rel="stylesheet" type="text/css" href="../../static/common/css/iconfont.css">
    <link rel="stylesheet" href="../../static/common/css/reset.css">
    <link rel="stylesheet" href="../../static/common/css/public.css">
    <link rel="stylesheet" href="../../static/userSettings/css/user_settings.css">
</head>

<body>
    <!-- banner -->
    <div class="banner">
        <div class="top">
            <div class="top_left w">
                <a href="#" class="t_one"></a>
            </div>
            <div class="top_right w">
                <span class="tr_name">王大拿</span>
                <div class="t_one">
                    <!-- <img src="../../static/common/img/head_portrait.png" alt=""> -->
                    <ul class="personal">
                        <img src="../../static/common/img/arrow_03.png" alt="">
                        <a href="#" class="name">王大拿</a>
                        <a href="#">
                            <i class="iconfont icon-set"></i>个人设置</a>
                        <a href="#">
                            <i class="iconfont icon-tuichu"></i>退出登录</a>
                    </ul>
                </div>
                <a href="#" class="t_two"></a>
            </div>
        </div>
    </div>
    <!-- banner-end -->

    <!-- content-start -->
    <div class="w4 clearfix">
        <div class="left">
            <h2>个人设置</h2>
            <ul class="left_switch">
                <li class="hover">
                    <i class="iconfont icon-ziliao"></i>
                    <span>我的资料</span>
                </li>
                <li>
                    <i class="iconfont icon-yonghuxinxi"></i>
                    <span>帐号设置</span>
                </li>
                <li>
                    <i class="iconfont icon-mima"></i>
                    <span>修改密码</span>
                </li>
            </ul>
        </div>
        <div class="right_switch">
            <div class="right" style="display: block;">
                <h2>我的资料</h2>
                <!-- hand_box-start -->
                <div class="hand_box clearfix">
                    <span>头像</span>
                    <img src="../../static/userSettings/img/head_portrait.png" alt="">
                    <ul>
                        <li>
                            <button>更换头像</button>
                        </li>
                        <li>支持jpg、png格式的图片，且文件小于20M</li>
                    </ul>
                </div>
                <!-- hand_box-end -->

                <!-- table-start -->
                <form action="">
                    <table>
                        <tr>
                            <td>名称</td>
                            <td>
                                <div class="exhibition">王大拿</div>
                            </td>
                        </tr>
                        <tr>
                            <td>性别</td>
                            <td class="radio">
                                <span class="hover">男</span>
                                <span>女</span>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <button>保存</button>
                            </td>
                        </tr>
                    </table>
                </form>
                <!-- table-end -->

                <!-- last_login-start -->
                <div class="last_login">
                    <div class="ll_content clearfix">
                        <div class="login_record">李小龙 最后登录 2018-08-05 18:10</div>
                        <table>
                            <tr>
                                <td>Node：</td>
                                <td>这是建立Node的名称…</td>
                                <td>2018-08-03 13:10</td>
                            </tr>
                            <tr>
                                <td>Project：</td>
                                <td>这是操作的一名称…</td>
                                <td>2018-08-03 13:10</td>
                            </tr>
                            <tr>
                                <td>Task：</td>
                                <td>这是Task的名称…</td>
                                <td>2018-08-03 13:10</td>
                            </tr>
                            <tr>
                                <td>WorkFlow：</td>
                                <td>这是Task的名称…</td>
                                <td>2018-08-03 13:10</td>
                            </tr>
                            <tr>
                                <td>Node：</td>
                                <td>这是建立Node的名称…</td>
                                <td>2018-08-03 13:10</td>
                            </tr>
                            <tr>
                                <td>Project：</td>
                                <td>这是操作的一名称…</td>
                                <td>2018-08-03 13:10</td>
                            </tr>
                            <tr>
                                <td>Task：</td>
                                <td>这是Task的名称…</td>
                                <td>2018-08-03 13:10</td>
                            </tr>
                            <tr>
                                <td>WorkFlow：</td>
                                <td>这是Task的名称…</td>
                                <td>2018-08-03 13:10</td>
                            </tr>
                        </table>

                        <div class="label clearfix">
                            <div class="time">
                                <div class="label_right clearfix">
                                    <span>全部</span>
                                    <img src="../../static/common/img/bottom.png" alt="">
                                </div>
                                <ul class="fixed_select">
                                    <img src="../../static/userSettings/img/horn_01.png" alt="">
                                    <li class="default">全部</li>
                                    <li>10分钟前</li>
                                    <li>20分钟前</li>
                                    <li>30分钟前</li>
                                    <li>1小时前</li>
                                </ul>
                            </div>
                            <div class="line"></div>
                            <div class="function clearfix">
                                <div class="label_right">
                                    <span>全部</span>
                                    <img src="../../static/common/img/bottom.png" alt="">
                                </div>
                                <ul class="fixed_select">
                                    <img src="../../static/userSettings/img/horn_01.png" alt="">
                                    <li class="default">全部</li>
                                    <li>Node</li>
                                    <li>Task</li>
                                    <li>Project</li>
                                    <li>其他</li>
                                </ul>
                            </div>
                        </div>

                        <!-- page-start -->
                        <div class="page">
                            <div class="page_left">上一页</div>
                            <div class="page_content">
                                <span class="hover">1</span>
                                <span>2</span>
                                <span>3</span>
                                <span>4</span>
                                <span>5</span>
                                <span>6</span>
                                <span>7</span>
                                <span>8</span>
                                <span>9</span>
                                <span>10</span>
                                <span>...</span>
                                <span>12</span>
                            </div>
                            <div class="page_right">下一页</div>
                        </div>
                        <!-- page-end -->
                    </div>
                </div>
                <!-- last_login-end -->

                <!-- change_head-satrt -->
                <div class="change_head">
                    <div class="ch_top clearfix">
                        <div class="file_box">
                            上传头像
                            <input type="file" name="" id="">
                        </div>
                        <span>支持jpg、png格式的图片，且文件小于20M</span>
                    </div>
                    <div class="ch_content clearfix">
                        <div class="left">
                            <img src="../../static/userSettings/img/change_head_bg_03.png" alt="">
                        </div>
                        <ul class="right">
                            <li>头像预览</li>
                            <li class="chc_box">
                                <img src="../../static/userSettings/img/hand_bg.png" alt="">
                            </li>
                            <li class="chc_describe">大尺寸头像（180*180像素）</li>
                            <li class="min_chcbox">
                                <img src="../../static/userSettings/img/head_portrait.png" alt="">
                            </li>
                            <li class="min_describe">小尺寸头像（30*30像素）</li>
                        </ul>
                    </div>
                    <div class="ch_btn">
                        <button class="preservation">保存</button>
                        <button class="cancel">取消</button>
                    </div>
                </div>
                <!-- change_head-end -->
            </div>
            <div class="right">
                <h2>帐号设置</h2>
                <ul class="mailbox">
                    <h3>手机号</h3>
                    <li>您已绑定手机号：178****3565，可用该手机号登录中国移动AUTO平台。</li>
                    <li>
                        <button class="change_phone">更换手机号</button>
                    </li>
                </ul>
                <ul class="set_up">
                    <h3>邮箱</h3>
                    <li class="describe">当前邮箱：1870256215@qq.com，可用该邮箱登录中国移动AUTO平台。</li>
                    <li>
                        <button class="verifying_mailbox">更换邮箱</button>
                    </li>
                </ul>
            </div>
            <div class="right">
                <h2>修改密码</h2>
                <form action="" class="right_form">
                    <h3>原密码</h3>
                    <div class="form_box hover">
                        <input type="text" name="" placeholder="请输入原密码">
                        <i class="iconfont icon-zhengque success"></i>
                    </div>
                    <div class="error clearfix">
                        <i class="iconfont icon-tishi"></i>
                        <span>手机原密码输入错误!</span>
                    </div>
                    <h3 class="form_h3">新密码</h3>

                    <div class="form_box hover">
                        <input id="password" type="password" name="" placeholder="请输入新密码，不少于6位数字母数字组合">
                        <i class="iconfont icon-zhengque success"></i>
                    </div>
                    <div class="error clearfix">
                        <i class="iconfont icon-tishi"></i>
                        <span>密码输入格式不正确,请重新输入!</span>
                    </div>
                    <div class="form_box">
                        <input id="copy_passwd" type="password" name="" placeholder="确认新密码">
                        <i class="iconfont icon-zhengque success"></i>
                    </div>
                    <div class="error clearfix">
                        <i class="iconfont icon-tishi"></i>
                        <span>两次密码输入不一致</span>
                    </div>
                    <button class="form_btn">确定</button>
                </form>
            </div>
        </div>
    </div>
    <!-- content-end -->

    <!-- contact-start -->
    <div class="contact">
        <i class="iconfont icon-ai-message"></i>
        <div class="close">
            <!-- <i class="iconfont icon-icon-"></i> -->
            <a href="#" class="close_box">
                <div class="clo_top">
                    <i class="iconfont icon-wendaguanli"></i>
                    <span>进入问答</span>
                </div>
                <div class="clo_bottom">
                    <span>专业问答</span>
                    <span>时时解答</span>
                </div>
            </a>
        </div>
    </div>
    <!-- contact-end -->

    <!-- popup-start -->
    <!-- 更换手机号-start -->
    <div class="dele_pop">
        <div class="replace">
            <h2>更换手机号</h2>
            <div class="line"></div>
            <div class="box_text hover">
                <input type="text" placeholder="请输入手机号">
                <i class="iconfont icon-zhengque success"></i>
            </div>
            <div class="error clearfix">
                <i class="iconfont icon-tishi"></i>
                <span>手机号码或邮箱未注册</span>
            </div>
            <div class="verification_code clearfix">
                <input type="text" placeholder="短信验证码">
                <button>获取验证码</button>
            </div>
            <button class="determine">确定</button>
            <button class="cancel">取消</button>
        </div>
    </div>
    <!-- 更换手机号-end -->


    <footer>
        <div class="one">
            <a href="#">关于我们</a>
            <a href="#">联系我们</a>
            <a href="#">使用条款</a>
            <a href="#">隐私政策</a>
        </div>
        <div class="two">
            <a href="">©2018 中国移动通信研究院版权所有 京公网安备 11010801000158</a>
        </div>
    </footer>
    <script type="text/javascript" src="../../static/common/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../../static/common/js/index.js"></script>
    <script type="text/javascript" src="../../static/interlocution/js/interlocution_common.js"></script>
    <script type="text/javascript" src="../../static/userSettings/js/user_settings.js"></script>
</body>

</html>