<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>interlocution_details</title>
    <link rel="icon" href="../favicon.ico" type="image/png">
    <link rel="stylesheet" type="text/css" href="../../static/common/css/iconfont.css">
    <link rel="stylesheet" href="../../static/common/css/reset.css">
    <link rel="stylesheet" href="../../static/common/css/public.css">
    <link rel="stylesheet" href="../../static/interlocution/css/interlocution_common.css">
    <link rel="stylesheet" href="../../static/interlocution/css/interlocution_details.css">
</head>

<body>
    <!-- banner -->
    <div class="banner">
        <div class="top">
            <div class="top_left w">
                <a href="#" class="t_one"></a>
            </div>
            <div class="top_right w">
                <span class="tr_name">王大拿</span>
                <div class="t_one">
                    <ul class="personal">
                        <img src="../../static/common/img/arrow_03.png" alt="">
                        <a href="#" class="name">王大拿</a>
                        <a href="#">
                            <i class="iconfont icon-set"></i>个人设置</a>
                        <a href="#">
                            <i class="iconfont icon-tuichu"></i>退出登录
                        </a>
                    </ul>
                </div>
                <a href="#" class="t_two"></a>
            </div>
        </div>
        <div class="w4">
            <div class="ban_top">
                <div class="bt_left">
                    中国移动
                    <br /> AUTO平台
                </div>
                <div class="bt_right"></div>
            </div>
            <div class="ban_search clearfix">
                <div class="search">
                    <form name="form1" method="post" action="?c=Index&a=search" target="_blank">
                        <input class="sear_input" name="textword" autofocus="autofocus" type="text" placeholder="搜索从这里开始...">
                        <button type="submit" class="iconfont icon-sousuo"></button>
                    </form>
                </div>
                <div class="btn">
                    <i class="iconfont icon-jia"></i>
                    <span>我要提问</span>
                </div>
            </div>
        </div>
    </div>
    <!-- banner-end -->

    <!-- content-start -->
    <div class="content">
        <div class="w4">
            <div class="case">
                <h2>什么是中国移动AUTO平台，它拥有那些功能点？</h2>
                <p>什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥 有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动
                    AUTO平台，它拥有那些功能点？
                </p>
                <div class="bottom clearfix">
                    <div class="browse">
                        <span>10</span>次浏览
                    </div>
                    <div class="comment">
                        <span>10</span>条评论
                    </div>
                    <div class="category">
                        分类：
                        <span>产品与应用</span>
                    </div>
                    <div class="author">
                        作者：
                        <span>王大拿</span>
                    </div>
                </div>
            </div>

            <div class="comment">
                <h3>10条评论</h3>
                <div class="comment_line"></div>
                <div class="comment_box clearfix">
                    <div class="com_left">
                        <input type="text" placeholder="写下你的评论…">
                    </div>
                    <div class="com_right">
                        <button>评论</button>
                    </div>
                </div>
                <div class="comm_content">
                    <div class="cc_top clearfix">
                        <img src="../../static/interlocution/img/head_portrait.png" alt="">
                        <span class="name_left">王大拿</span>
                        <span class="time_right">10分钟前</span>
                    </div>
                    <div class="cc_middle">
                        <p>什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥 有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动
                            AUTO平台，它拥有那些功能点？
                        </p>
                    </div>
                    <div class="cc_bottom">
                        <div>
                            <i class="iconfont icon-zan"></i>
                            <span>10</span>
                        </div>
                        <div class="huifu">
                            <i class="iconfont icon-huifu"></i>
                            <span>回复</span>
                        </div>
                    </div>
                    <div class="comm_line"></div>
                </div>
                <div class="comm_content">
                    <div class="cc_top clearfix">
                        <img src="../../static/interlocution/img/head_portrait.png" alt="">
                        <span class="name_left">王大拿</span>
                        <span class="time_right">10分钟前</span>
                    </div>
                    <div class="cc_middle">
                        <p>什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥 有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动
                            AUTO平台，它拥有那些功能点？
                        </p>
                    </div>
                    <div class="cc_bottom">
                        <div>
                            <i class="iconfont icon-zan"></i>
                            <span>10</span>
                        </div>
                        <div class="huifu">
                            <i class="iconfont icon-huifu"></i>
                            <span>回复</span>
                        </div>
                    </div>
                    <div class="comm_line"></div>
                </div>
                <div class="comm_content">
                    <div class="cc_top clearfix">
                        <img src="../../static/interlocution/img/head_portrait.png" alt="">
                        <span class="name_left">王大拿</span>
                        <span class="time_right">10分钟前</span>
                    </div>
                    <div class="cc_middle">
                        <p>什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥 有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动
                            AUTO平台，它拥有那些功能点？
                        </p>
                    </div>
                    <div class="cc_bottom">
                        <div>
                            <i class="iconfont icon-zan"></i>
                            <span>10</span>
                        </div>
                        <div class="huifu">
                            <i class="iconfont icon-huifu"></i>
                            <span>回复</span>
                        </div>
                    </div>
                    <div class="comm_line"></div>
                </div>

                <!-- page-start -->
                <div class="page">
                    <div class="page_left">上一页</div>
                    <div class="page_content">
                        <span class="hover">1</span>
                        <span>2</span>
                        <span>3</span>
                        <span>4</span>
                        <span>5</span>
                        <span>6</span>
                        <span>7</span>
                        <span>8</span>
                        <span>9</span>
                        <span>10</span>
                        <span>...</span>
                        <span>12</span>
                    </div>
                    <div class="page_right">下一页</div>
                </div>
                <!-- page-end -->
            </div>

            <div class="contact">
                <i class="iconfont icon-ai-message"></i>
                <div class="close">
                    <!-- <i class="iconfont icon-icon-"></i> -->
                    <a href="#" class="close_box">
                        <div class="clo_top">
                            <i class="iconfont icon-wendaguanli"></i>
                            <span>进入问答</span>
                        </div>
                        <div class="clo_bottom">
                            <span>专业问答</span>
                            <span>时时解答</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- content-end -->

    <!-- stick-satrt -->
    <div class="stick">
        <i class="iconfont icon-tubiao02"></i>
        <div class="stick_box">
            回到顶部
            <i class="iconfont icon-jiantou1"></i>
        </div>
    </div>
    <!-- stick-end -->

    <!-- popup-start -->
    <!-- 问题弹窗-start -->
    <div class="add_pop">
        <div class="popup">
            <h1>写下你的问题</h1>
            <h2>描述精确的问题更容易得到解答</h2>
            <div class="form">
                <form acti on="">
                    <textarea name="" id="" cols="30" rows="2" placeholder="问题标题" style="height: 149px;"></textarea>
                    <textarea name="" id="" cols="30" rows="10" placeholder="问题描述"></textarea>
                    <div class="label clearfix">
                        <div class="label_left">标签类型</div>
                        <div>
                            <div class="label_right">
                                <span></span>
                                <img src="../../static/common/img/bottom.png" alt="">
                            </div>
                            <ul class="fixed_select">
                                <li>高</li>
                                <li>中</li>
                                <li>低</li>
                            </ul>
                        </div>
                    </div>
                    <div class="problem clearfix">
                        <div class="label_left">问题类型</div>
                        <div>
                            <div class="label_right">
                                <span></span>
                                <img src="../../static/common/img/bottom.png" alt="">
                            </div>
                            <ul class="fixed_select">
                                <li>高</li>
                                <li>中</li>
                                <li>低</li>
                            </ul>
                        </div>
                    </div>
                    <div class="form_btn">提交问题</div>
                </form>
            </div>
            <div class="close iconfont icon-icon-"></div>
        </div>
    </div>
    <!-- 问题弹窗-end -->
    <!-- 对话弹窗-start -->
    <div class="dele_pop">
        <div class="popup">
            <h3>4条对话</h3>
            <div class="comm_content">
                <div class="comm_line"></div>
                <div class="cc_top clearfix">
                    <img src="../../static/interlocution/img/head_portrait.png" alt="">
                    <div class="reply">
                        <span>王大拿</span>
                    </div>
                    <span class="time_right">10分钟前</span>
                </div>
                <div class="cc_middle">
                    <p>什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？
                    </p>
                </div>
                <div class="cc_bottom">
                    <div>
                        <i class="iconfont icon-zan"></i>
                        <span>10</span>
                    </div>
                </div>
            </div>
            <div class="comm_content">
                <div class="comm_line"></div>
                <div class="cc_top clearfix">
                    <img src="../../static/interlocution/img/head_portrait.png" alt="">
                    <div class="reply">
                        <span>王美丽</span>
                        <span class="gray">回复</span>
                        <span>王大拿</span>
                    </div>
                    <span class="time_right">10分钟前</span>
                </div>
                <div class="cc_middle">
                    <p>什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？
                    </p>
                </div>
                <div class="cc_bottom">
                    <div>
                        <i class="iconfont icon-zan"></i>
                        <span>10</span>
                    </div>
                </div>
            </div>
            <div class="comm_content">
                <div class="comm_line"></div>
                <div class="cc_top clearfix">
                    <img src="../../static/interlocution/img/head_portrait.png" alt="">
                    <div class="reply">
                        <span>王美丽</span>
                        <span class="gray">回复</span>
                        <span>王大拿</span>
                    </div>
                    <span class="time_right">10分钟前</span>
                </div>
                <div class="cc_middle">
                    <p>什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？
                    </p>
                </div>
                <div class="cc_bottom">
                    <div>
                        <i class="iconfont icon-zan"></i>
                        <span>10</span>
                    </div>
                </div>
            </div>
            <div class="comm_content">
                <div class="comm_line"></div>
                <div class="cc_top clearfix">
                    <img src="../../static/interlocution/img/head_portrait.png" alt="">
                    <div class="reply">
                        <span>王美丽</span>
                        <span class="gray">回复</span>
                        <span>王大拿</span>
                    </div>
                    <span class="time_right">10分钟前</span>
                </div>
                <div class="cc_middle">
                    <p>什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？
                    </p>
                </div>
                <div class="cc_bottom">
                    <div>
                        <i class="iconfont icon-zan"></i>
                        <span>10</span>
                    </div>
                </div>
            </div>
            <div class="close iconfont icon-icon-"></div>
        </div>
    </div>
    <!-- 对话弹窗-end -->
    <!-- popup-end -->

    <footer>
        <div class="one">
            <a href="#">关于我们</a>
            <a href="#">联系我们</a>
            <a href="#">使用条款</a>
            <a href="#">隐私政策</a>
        </div>
        <div class="two">
            <a href="">©2018 中国移动通信研究院版权所有 京公网安备 11010801000158</a>
        </div>
    </footer>
    <script type="text/javascript" src="../../static/common/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../../static/common/js/index.js"></script>
    <script type="text/javascript" src="../../static/interlocution/js/interlocution_common.js"></script>
    <script type="text/javascript">
        // 右边联系的小图标效果(滑入滑出)
        // 置顶的小效果
        // tab切换
        interlocution_public()

        $('.cc_bottom .huifu').click(function () { // 回复
            var ele =
                '<div class="reply"><div class="reply_top"><input type="text" placeholder="回复王大拿"></div><div class="reply_bottom"><span class="close">取消</span> <span class = "rb_comment" > 评论 </span> </div> </div>'
            $(this).parent().find('div').css('display', 'none').parent().append(ele) // 隐藏huifu父元素下所有的div,并追加回复框
            $('.cc_bottom .reply_bottom .close').click(function () { // 点击取消
                $('.cc_bottom .reply').remove() // 删除动态添加的回复框
                $('.cc_bottom .huifu').parent().find('div').css('display', 'inline-block') // 显示原有的元素
            })
        })

        popup('.add_pop', '.btn', '.add_pop .popup .form_btn', '.add_pop .popup .close') // 问题弹窗
        popup('.dele_pop', '.cc_top>img', '.dele_pop .popup .close', '.dele_pop .popup .close') // 对话弹窗
    </script>
</body>

</html>