<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>interlocution</title>
    <link rel="icon" href="../favicon.ico" type="image/png">
    <link rel="stylesheet" type="text/css" href="../../static/common/css/iconfont.css">
    <link rel="stylesheet" href="../../static/common/css/reset.css">
    <link rel="stylesheet" href="../../static/common/css/public.css">
    <link rel="stylesheet" href="../../static/interlocution/css/interlocution_common.css">
    <link rel="stylesheet" href="../../static/interlocution/css/interlocution.css">
</head>

<body>
    <!-- banner -->
    <div class="banner">
        <div class="top">
            <div class="top_left w">
                <a href="#" class="t_one"></a>
            </div>
            <div class="top_right w">
                <span class="tr_name">王大拿</span>
                <div class="t_one">
                    <ul class="personal">
                        <img src="../../static/common/img/arrow_03.png" alt="">
                        <a href="#" class="name">王大拿</a>
                        <a href="#">
                            <i class="iconfont icon-set"></i>个人设置</a>
                        <a href="#">
                            <i class="iconfont icon-tuichu"></i>退出登录
                        </a>
                    </ul>
                </div>
                <a href="#" class="t_two"></a>
            </div>
        </div>
        <div class="w4">
            <div class="ban_top">
                <div class="bt_left">
                    中国移动
                    <br /> AUTO平台
                </div>
                <div class="bt_right"></div>
            </div>
            <div class="ban_search clearfix">
                <div class="search">
                    <form name="form1" method="post" action="?c=Index&a=search" target="_blank">
                        <input class="sear_input" name="textword" autofocus="autofocus" type="text" placeholder="搜索从这里开始...">
                        <button type="submit" class="iconfont icon-sousuo"></button>
                    </form>
                </div>
                <div class="btn">
                    <i class="iconfont icon-jia"></i>
                    <span>我要提问</span>
                </div>
            </div>
        </div>
    </div>
    <!-- banner-end -->

    <!-- content-start -->
    <div class="content">
        <div class="w4">
            <div class="tab_switch">
                <span class="hover" v-url="#">所有问题</span>
                <span v-url="#">技术问题</span>
                <span c-url="#">应用问题</span>
            </div>
            <div>
                <div class="box" style="display: block;">
                    <!-- case-start -->
                    <div class="case">
                        <a href="./interlocution_details.html">什么是中国移动AUTO平台，它拥有那些功能点？</a>
                        <p>什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥 有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动
                            AUTO平台，它拥有那些功能点？
                        </p>
                        <div class="bottom clearfix">
                            <div class="browse">
                                <span>10</span>次浏览
                            </div>
                            <div class="comment">
                                <span>10</span>条评论
                            </div>
                            <div class="category">
                                分类：
                                <span>产品与应用</span>
                            </div>
                            <div class="author">
                                作者：
                                <span>王大拿</span>
                            </div>
                        </div>
                    </div>
                    <div class="case">
                        <a href="./interlocution_details.html">什么是中国移动AUTO平台，它拥有那些功能点？</a>
                        <p>什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥 有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动
                            AUTO平台，它拥有那些功能点？
                        </p>
                        <div class="bottom clearfix">
                            <div class="browse">
                                <span>10</span>次浏览
                            </div>
                            <div class="comment">
                                <span>10</span>条评论
                            </div>
                            <div class="category">
                                分类：
                                <span>产品与应用</span>
                            </div>
                            <div class="author">
                                作者：
                                <span>王大拿</span>
                            </div>
                        </div>
                    </div>
                    <div class="case">
                        <a href="./interlocution_details.html">什么是中国移动AUTO平台，它拥有那些功能点？</a>
                        <p>什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥 有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动
                            AUTO平台，它拥有那些功能点？
                        </p>
                        <div class="bottom clearfix">
                            <div class="browse">
                                <span>10</span>次浏览
                            </div>
                            <div class="comment">
                                <span>10</span>条评论
                            </div>
                            <div class="category">
                                分类：
                                <span>产品与应用</span>
                            </div>
                            <div class="author">
                                作者：
                                <span>王大拿</span>
                            </div>
                        </div>
                    </div>
                    <div class="case">
                        <a href="./interlocution_details.html">什么是中国移动AUTO平台，它拥有那些功能点？</a>
                        <p>什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥 有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动
                            AUTO平台，它拥有那些功能点？
                        </p>
                        <div class="bottom clearfix">
                            <div class="browse">
                                <span>10</span>次浏览
                            </div>
                            <div class="comment">
                                <span>10</span>条评论
                            </div>
                            <div class="category">
                                分类：
                                <span>产品与应用</span>
                            </div>
                            <div class="author">
                                作者：
                                <span>王大拿</span>
                            </div>
                        </div>
                    </div>
                    <!-- case-end -->
                </div>

                <div class="box">
                    <!-- case-start -->
                    <div class="case">
                        <a href="./interlocution_details.html">什么是中国移动AUTO平台，它拥有那些功能点？2</a>
                        <p>什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥 有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动
                            AUTO平台，它拥有那些功能点？
                        </p>
                        <div class="bottom clearfix">
                            <div class="browse">
                                <span>10</span>次浏览
                            </div>
                            <div class="comment">
                                <span>10</span>条评论
                            </div>
                            <div class="category">
                                分类：
                                <span>产品与应用</span>
                            </div>
                            <div class="author">
                                作者：
                                <span>王大拿</span>
                            </div>
                        </div>
                    </div>
                    <div class="case">
                        <a href="./interlocution_details.html">什么是中国移动AUTO平台，它拥有那些功能点？</a>
                        <p>什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥 有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动
                            AUTO平台，它拥有那些功能点？
                        </p>
                        <div class="bottom clearfix">
                            <div class="browse">
                                <span>10</span>次浏览
                            </div>
                            <div class="comment">
                                <span>10</span>条评论
                            </div>
                            <div class="category">
                                分类：
                                <span>产品与应用</span>
                            </div>
                            <div class="author">
                                作者：
                                <span>王大拿</span>
                            </div>
                        </div>
                    </div>
                    <div class="case">
                        <a href="./interlocution_details.html">什么是中国移动AUTO平台，它拥有那些功能点？</a>
                        <p>什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥 有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动
                            AUTO平台，它拥有那些功能点？
                        </p>
                        <div class="bottom clearfix">
                            <div class="browse">
                                <span>10</span>次浏览
                            </div>
                            <div class="comment">
                                <span>10</span>条评论
                            </div>
                            <div class="category">
                                分类：
                                <span>产品与应用</span>
                            </div>
                            <div class="author">
                                作者：
                                <span>王大拿</span>
                            </div>
                        </div>
                    </div>
                    <div class="case">
                        <a href="./interlocution_details.html">什么是中国移动AUTO平台，它拥有那些功能点？</a>
                        <p>什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥 有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动
                            AUTO平台，它拥有那些功能点？
                        </p>
                        <div class="bottom clearfix">
                            <div class="browse">
                                <span>10</span>次浏览
                            </div>
                            <div class="comment">
                                <span>10</span>条评论
                            </div>
                            <div class="category">
                                分类：
                                <span>产品与应用</span>
                            </div>
                            <div class="author">
                                作者：
                                <span>王大拿</span>
                            </div>
                        </div>
                    </div>
                    <!-- case-end -->
                </div>

                <div class="box">
                    <!-- case-start -->
                    <div class="case">
                        <a href="./interlocution_details.html">什么是中国移动AUTO平台，它拥有那些功能点？3</a>
                        <p>什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥 有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动
                            AUTO平台，它拥有那些功能点？
                        </p>
                        <div class="bottom clearfix">
                            <div class="browse">
                                <span>10</span>次浏览
                            </div>
                            <div class="comment">
                                <span>10</span>条评论
                            </div>
                            <div class="category">
                                分类：
                                <span>产品与应用</span>
                            </div>
                            <div class="author">
                                作者：
                                <span>王大拿</span>
                            </div>
                        </div>
                    </div>
                    <div class="case">
                        <a href="./interlocution_details.html">什么是中国移动AUTO平台，它拥有那些功能点？</a>
                        <p>什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥 有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动
                            AUTO平台，它拥有那些功能点？
                        </p>
                        <div class="bottom clearfix">
                            <div class="browse">
                                <span>10</span>次浏览
                            </div>
                            <div class="comment">
                                <span>10</span>条评论
                            </div>
                            <div class="category">
                                分类：
                                <span>产品与应用</span>
                            </div>
                            <div class="author">
                                作者：
                                <span>王大拿</span>
                            </div>
                        </div>
                    </div>
                    <div class="case">
                        <a href="./interlocution_details.html">什么是中国移动AUTO平台，它拥有那些功能点？</a>
                        <p>什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥 有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动
                            AUTO平台，它拥有那些功能点？
                        </p>
                        <div class="bottom clearfix">
                            <div class="browse">
                                <span>10</span>次浏览
                            </div>
                            <div class="comment">
                                <span>10</span>条评论
                            </div>
                            <div class="category">
                                分类：
                                <span>产品与应用</span>
                            </div>
                            <div class="author">
                                作者：
                                <span>王大拿</span>
                            </div>
                        </div>
                    </div>
                    <div class="case">
                        <a href="./interlocution_details.html">什么是中国移动AUTO平台，它拥有那些功能点？</a>
                        <p>什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥 有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动AUTO平台，它拥有那些功能点？什么是中国移动
                            AUTO平台，它拥有那些功能点？
                        </p>
                        <div class="bottom clearfix">
                            <div class="browse">
                                <span>10</span>次浏览
                            </div>
                            <div class="comment">
                                <span>10</span>条评论
                            </div>
                            <div class="category">
                                分类：
                                <span>产品与应用</span>
                            </div>
                            <div class="author">
                                作者：
                                <span>王大拿</span>
                            </div>
                        </div>
                    </div>
                    <!-- case-end -->
                </div>
            </div>
            <div class="contact">
                <i class="iconfont icon-ai-message"></i>
                <div class="close">
                    <!-- <i class="iconfont icon-icon-"></i> -->
                    <a href="#" class="close_box">
                        <div class="clo_top">
                            <i class="iconfont icon-wendaguanli"></i>
                            <span>进入问答</span>
                        </div>
                        <div class="clo_bottom">
                            <span>专业问答</span>
                            <span>时时解答</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- content-end -->

    <!-- stick-satrt -->
    <div class="stick">
        <i class="iconfont icon-tubiao02"></i>
        <div class="stick_box">
            回到顶部
            <i class="iconfont icon-jiantou1"></i>
        </div>
    </div>
    <!-- stick-end -->

    <!-- popup-start -->
    <!-- 问题弹窗-start -->
    <div class="add_pop">
        <div class="popup">
            <h1>写下你的问题</h1>
            <h2>描述精确的问题更容易得到解答</h2>
            <div class="form">
                <form acti on="">
                    <textarea name="" id="" cols="30" rows="2" placeholder="问题标题" style="height: 149px;"></textarea>
                    <textarea name="" id="" cols="30" rows="10" placeholder="问题描述"></textarea>
                    <div class="label clearfix">
                        <div class="label_left">标签类型</div>
                        <div>
                            <div class="label_right">
                                <span></span>
                                <img src="../../static/common/img/bottom.png" alt="">
                            </div>
                            <ul class="fixed_select">
                                <li>高</li>
                                <li>中</li>
                                <li>低</li>
                            </ul>
                        </div>
                    </div>
                    <div class="problem clearfix">
                        <div class="label_left">问题类型</div>
                        <div>
                            <div class="label_right">
                                <span></span>
                                <img src="../../static/common/img/bottom.png" alt="">
                            </div>
                            <ul class="fixed_select">
                                <li>高</li>
                                <li>中</li>
                                <li>低</li>
                            </ul>
                        </div>
                    </div>
                    <div class="form_btn">提交问题</div>
                </form>
            </div>
            <div class="close iconfont icon-icon-"></div>
        </div>
    </div>
    <!-- 问题弹窗-end -->
    <!-- popup-end -->

    <footer>
        <div class="one">
            <a href="#">关于我们</a>
            <a href="#">联系我们</a>
            <a href="#">使用条款</a>
            <a href="#">隐私政策</a>
        </div>
        <div class="two">
            <a href="">©2018 中国移动通信研究院版权所有 京公网安备 11010801000158</a>
        </div>
    </footer>
    <script type="text/javascript" src="../../static/common/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../../static/common/js/index.js"></script>
    <script type="text/javascript" src="../../static/interlocution/js/interlocution_common.js"></script>
    <script type="text/javascript">
        // 右边联系的小图标效果(滑入滑出)
        // 置顶的小效果
        // tab切换
        interlocution_public()
        popup('.add_pop', '.btn', '.add_pop .popup .form_btn', '.add_pop .popup .close') // 问题弹窗
    </script>
</body>

</html>