.banner .top {
    top: 0;
    position: fixed;
    z-index: 999;
}


/* title-satrt */
.title {
    width: 100%;
    text-align: center;
}

.tab_switch {
    width: 1200px;
    height: 98px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
}

.tab_switch .tabswit_ct {
    width: 164px;
    height: 97px;
    cursor: pointer;
    display: inline-block;
}

.tab_switch .tabswit_ct i {
    font-size: 40px;
}

.tab_switch .tabswit_ct li:nth-child(1) {
    padding-top: 16px;
    margin-bottom: 12px;
}

.tab_switch .tabswit_ct .hover li {
    color: #007bff;
}

.tab_switch .tabswit_ct .hover {
    height: 100%;
    border-bottom: 1px solid #007bff;
}
/* title-end */

/* content-satrt */
.content {
    width: 100%;
    padding-top: 24px;
    padding-bottom: 32px;
    position: relative;
    background-color: #f7f8f9;
}

/* table-start */
/* 操作-satrt */
.table tr td button {
    font-size: 20px;
    cursor: pointer;
    position: relative;
    margin-right: 30px;
}

table tr td button>div {
    top: 1px;
    height: 20px;
    z-index: 255;
    color: #fff;
    padding: 0 4px;
    font-size: 12px;
    cursor: pointer;
    line-height: 20px;
    text-align: center;
    position: absolute;
    background-color: #007bff;
}

table tr td button .build {
    right: -44px;
    display: none;
    border-radius: 3px;
}

table tr td button .build div {
    color: #007bff;
    top: -1px;
    left: -9px;
    transform: rotate(180deg);
    position: absolute;
}

table tr td button .delete {
    right: -52px;
    display: none;
    border-radius: 3px;
}

table tr td button .delete div {
    color: #007bff;
    top: -1px;
    left: -9px;
    transform: rotate(180deg);
    position: absolute;
}

table tr td button .queue {
    width: 40px;
    left: -52px;
    display: none;
    border-radius: 3px;
}

table tr td button .queue div {
    color: #007bff;
    top: 0px;
    right: -9px;
    position: absolute;
}

table tr td button:hover div {
    display: block;
}

.table tr td span:nth-last-child(1) a {
    color: #007bff;
}
/* 操作-end */
/* table-end */
/* content-end */


.tab_top .select_box {
    padding-right: 0px;
}