<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AUTO - Home</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/common/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="../static/common/css/iconfont.css">
    <link rel="stylesheet" type="text/css" href="../static/common/css/common.css" />
    <link rel="stylesheet" type="text/css" href="../static/common/css/global.css" />
    <link rel="stylesheet" type="text/css" href="../static/common/css/landing-page.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/home/css/clock.css">
    <!-- <link rel="icon" href="../static/common/img/favicon-16x16.png" type="image/png"> -->
    <style type="text/css">
        h1.mb-5 {
            font-family: "Microsoft YaHei", "微软雅黑", Helvetica, "黑体", Arial, Tahoma;
        }

        .btn.container {
            float: right;
            margin-top: 26px;
            width: auto;
            margin-right: 50px;
        }

        .box_top_logo {
            float: left;
            width: auto;
            margin-left: 100px;
        }

        .box_top_logo img {
            margin-right: 10px;
        }

        .navbar>.container {
            display: block;
        }

        a:link {
            outline: medium none;
            text-decoration: none;
        }

        a,
        a:visited {
            text-decoration: none;
        }

        /* .desp-bg {
        background-color: #f7f8fa;
      }
      .desp-bg .showcase-text {
        padding-left: 22px;
      } */
        /* .showcase-text h2 {
        font-size: 24px;
        line-height: 30px;
      } */
        /* .showcase-text p {
        width: 551px;
        font-size: 18px;
        line-height: 26px;
        margin-top: 22px;
        margin-right: 22px;
      } */
        .item-icon i {
            font-size: 40px;
            color: #fff;
            margin: auto;
        }

        .item-icon i.icon-yunpingtai {
            font-size: 55px;
        }

        .showcase .showcase-img i {
            font-size: 40px;
            color: #fff;
            position: absolute;
            left: -16px;
            z-index: 999;
        }

        .showcase .showcase-img i.left {
            transform: rotate(180deg);
            right: -16px;
        }
    </style>
</head>

<body>

    <!-- Navigation -->
    <div class="m-header">
        <div class="header_wrapper">
            <a class="header_logo">
                <img src="../static/common/img/logo.png" alt="AUTO">
            </a>
            <div class="header_right">
                <a href="login.html">登录</a>
                <span class="header_right_line"></span>
                <a href="register.html">注册</a>
            </div>
        </div>
    </div>
    <!-- BEGIN big banner  -->
    <div id="playBox">
        <div class="smalltitle">
            <ul id="banner">
                <li class="cur"></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <ul class="oUlplay">
            <li class="slides1">
                <div class="btn-sec">
                    <a class="btn-hollow" href="register.html">立即注册</a>
                </div>
            </li>
            <li class="slides2">
                <div class="btn-sec">
                    <a class="btn-hollow" href="register.html">立即注册</a>
                </div>
            </li>
            <li class="slides3">
                <div class="btn-sec">
                    <a class="btn-hollow" href="register.html">立即注册</a>
                </div>
            </li>
            <li class="slides4">
                <div class="btn-sec">
                    <a class="btn-hollow" href="register.html">立即注册</a>
                </div>
            </li>
        </ul>
    </div>
    <!-- END big banner -->

    <!-- content-start -->
    <section class="content">
        <div class="content_top clearfix">
            <ul class="ct_left">
                <li>中国移动AUTO平台功能操作入口</li>
                <li>平台功能：硬件配置、项目部署、项目测试</li>
                <li><a href="./project/project_list.html" target="_block">进入功能</a></li>
            </ul>
            <ul class="ct_right">
                <div class="icon-large icon-clock">
                    <div class="clock">
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <div id="div-hour" class="hour"></div>
                        <div id="div-minute" class="minute"></div>
                        <div id="div-second" class="second"></div>
                    </div>
                </div>
            </ul>
        </div>

        <div class="content_middle clearfix">
            <div class="blue_box">

            </div>
            <div class="cm_left">
                <div>
                    <h4>提升效率</h4>
                    <p>中国移动AUTO平台可以针对不同环境执行自动化部署和测试,这可以节省
                        时间并易于维护, 在任何具有新图形设计的设备上直观的使用此用户界面!
                    </p>
                </div>
                <div>
                    <h4>模块化设计</h4>
                    <p>软件定义架构，可与第三方工具一起使用，并且支持自由扩展。中
                        国移动AUTO平台具有模块化架构，可用于集成第三种工具，为用
                        户所需提供更多的可能性。
                    </p>
                </div>
                <div>
                    <h4>易于使用和自定义</h4>
                    <p>对用户进行更深层次的定制化设计。开箱即用，只需添加您的内容
                        和图片，您的新登录页即可开始使用！中国移动AUTO平台可以通
                        过用户友好且易于操作的网络界面轻松设置和配置。
                    </p>
                </div>
                <div>
                    <h4>提升效率</h4>
                    <p>中国移动AUTO平台可以针对不同环境执行自动化部署和测试,这可以节省
                        时间并易于维护, 在任何具有新图形设计的设备上直观的使用此用户界面!
                    </p>
                </div>
                <div>
                    <h4>模块化设计</h4>
                    <p>软件定义架构，可与第三方工具一起使用，并且支持自由扩展。中
                        国移动AUTO平台具有模块化架构，可用于集成第三种工具，为用
                        户所需提供更多的可能性。
                    </p>
                </div>
            </div>
            <div class="cm_right">
                <ul>
                        <!-- style="width: 600px; height: 350px; background-color: blue;" -->
                    <li>
                        <img src="../static/common/img/home_scroll_03.png" alt="">
                    </li>
                    <li>
                        <img src="../static/common/img/home_scroll_01.png" alt="">
                    </li>
                    <li>
                        <img src="../static/common/img/home_scroll_02.png" alt="">
                    </li>
                    <li>
                        <img src="../static/common/img/home_scroll_03.png" alt="">
                    </li>
                    <li>
                        <img src="../static/common/img/home_scroll_01.png" alt="">
                    </li>
                </ul>
                <div class="switch">
                    <div class="btn_top"><i class="iconfont icon-top"></i></div>
                    <div class="btn_bottom"><i class="iconfont icon-bottom"></i></div>
                </div>
                <i class="iconfont icon-jiantou1"></i>
            </div>
        </div>
    </section>
    <!-- content-end -->

    <!-- Testimonials -->
    <section class="testimonials text-center bg-light">
        <div class="content">
            <h2 class="mb-5">大家说...</h2>
            <div class="inner-con">
                <div class="prev-btn" btn="prev">
                    <i class="iconfont icon-zuojiantou"></i>
                    <!-- <div class="icon-sec"></div> -->
                </div>
                <div class="next-btn" btn="next">
                    <i class="iconfont icon-youjiantou"></i>
                    <!-- <div class="icon-sec"></div> -->
                </div>
                <ul class="testimonials-list">
                    <li class="item gap">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle" src="../static/common/img/testimonials-1.jpg" alt="">
                            <h5>崔宁波</h5>
                            <p>真是太棒了！简单、快捷、方便我们的NFV工作！中国移动的
                                AUTO平台很棒！我一直在使用它来创建很多漂亮的测试！</p>
                        </div>
                    </li>
                    <li class="item gap">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle" src="../static/common/img/testimonials-2.jpg" alt="">
                            <h5>崔宁波</h5>
                            <p>真是太棒了！简单、快捷、方便我们的NFV工作！中国移动的
                                AUTO平台很棒！我一直在使用它来创建很多漂亮的测试！</p>
                        </div>
                    </li>
                    <li class="item gap">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle" src="../static/common/img/testimonials-3.jpg" alt="">
                            <h5>崔宁波</h5>
                            <p>真是太棒了！简单、快捷、方便我们的NFV工作！中国移动的
                                AUTO平台很棒！我一直在使用它来创建很多漂亮的测试！</p>
                        </div>
                    </li>
                    <li class="item gap">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle" src="../static/common/img/testimonials-1.jpg" alt="">
                            <h5>崔宁波</h5>
                            <p>真是太棒了！简单、快捷、方便我们的NFV工作！中国移动的
                                AUTO平台很棒！我一直在使用它来创建很多漂亮的测试！</p>
                        </div>
                    </li>
                    <li class="item gap">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle" src="../static/common/img/testimonials-2.jpg" alt="">
                            <h5>崔宁波</h5>
                            <p>真是太棒了！简单、快捷、方便我们的NFV工作！中国移动的
                                AUTO平台很棒！我一直在使用它来创建很多漂亮的测试！</p>
                        </div>
                    </li>
                    <li class="item gap">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle" src="../static/common/img/testimonials-3.jpg" alt="">
                            <h5>崔宁波</h5>
                            <p>真是太棒了！简单、快捷、方便我们的NFV工作！中国移动的
                                AUTO平台很棒！我一直在使用它来创建很多漂亮的测试！</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="s-btn-sec">
                <ul>
                    <li></li>
                    <li class="cur"></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Call to Action -->
    <section class="call-to-action text-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h2>准备好开始了吗？</h2>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                    <p><span>注册</span> 即可领取40+款产品的免费体验套餐，更有开发者专属 <span>在线实验平台</span></p>
                    <p>为您提供最佳上云实践机会</p>
                    <div class="col-12 mx-auto">
                        <a class="btn btn-primary" href="register.html">立即注册</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <!-- Footer -->
    <div class="footer main">
        <div class="link">
            <a href="#">关于我们</a><b>|</b>
            <a href="#">联系我们</a><b>|</b>
            <a href="#">使用条款</a><b>|</b>
            <a href="#">隐私政策</a>
        </div>
        <p class="record">
            ©2018 中国移动通信研究院版权所有 京公网备案 11010801000158
        </p>
    </div>

    <div class="c-backTop" style="display: block;">
        <span class="c-backTop-btn"></span>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="../static/common/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/common/js/home.js"></script>
    <script type="text/javascript" src="../static/home/js/clock.js"></script>
    <script type="text/javascript">
        linkage_rolling() // 联动滚动
        roll() // 滚动
    </script>

</body>

</html>