<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project List</title>
    <link rel="icon" href="../favicon.ico" type="image/png">
    <link rel="stylesheet" type="text/css" href="../../static/common/css/iconfont.css">
    <link rel="stylesheet" href="../../static/project/css/date_icon.css">
    <link rel="stylesheet" href="../../static/common/css/reset.css">
    <link rel="stylesheet" href="../../static/common/css/public.css">
    <link rel="stylesheet" href="../../static/project/css/project.css">
</head>

<body>
    <!-- banner -->
    <div class="banner">
        <div class="top">
            <div class="top_left w">
                <a href="#" class="t_one"></a>
            </div>
            <div class="top_right w">
                <span class="tr_name">王大拿</span>
                <div class="t_one">
                    <ul class="personal">
                        <img src="../../static/common/img/arrow_03.png" alt="">
                        <a href="#" class="name">王大拿</a>
                        <a href="#">
                            <i class="iconfont icon-set"></i>个人设置</a>
                        <a href="#">
                            <i class="iconfont icon-tuichu"></i>退出登录
                        </a>
                    </ul>
                </div>
                <a href="#" class="t_two"></a>
            </div>
        </div>
        <div class="w3">
            <div class="ban_title">
                <div class="tit">项目列表</div>
                <div class="describe">项目列表整体的一段描述</div>
                <div class="list">包含了有
                    <div>
                        <span>3个项目</span>
                    </div>
                    <div>
                        <span>1个高级</span>
                    </div>
                    <div>
                        <span>1个中级</span>
                    </div>
                    <div>
                        <span>1个低级</span>
                    </div>
                </div>
            </div>
        </div>
        <img src="../../static/common/img/project_banner.png" alt="">
    </div>
    <!-- banner-end -->

    <!-- w3-start -->
    <div class="w3">
        <!-- box_top start -->
        <div class="box">
            <div class="tab_top clearfix">
                <div class="add">
                    <button class="clearfix">
                        <i class="iconfont icon-jia"></i>
                        <span>创建新项目</span>
                    </button>
                </div>
                <div class="select">
                    <div class="select_box">
                        <span>全部</span>
                        <img src="../../static/common/img/bottom.png" alt="">
                    </div>
                    <div class="options_box">
                        <span>全部</span>
                        <span>高级</span>
                        <span>中级</span>
                        <span>低级</span>
                    </div>
                </div>
                <div class="search">
                    <form name="form1" method="post" action="?c=Index&amp;a=search" target="_blank">
                        <input class="sear_input" name="textword" autofocus="autofocus" type="text" placeholder="搜索从这里开始...">
                        <button type="submit" class="iconfont icon-sousuo"></button>
                    </form>
                </div>
            </div>
        </div>
        <!-- box_top end -->

        <!-- slave_info start -->
        <div class="slave_info clearfix">
            <div class="slave_box left">
                <i class="priority-icon high">高</i>
                <a href="./project_details.html" class="slave_name">
                    <i class="project_icon"></i>
                    <span>这里是书写关于展示项目标题展示项目标名称NFV1…</span>
                </a>
                <p class="project_detail">
                    <span class="start-time">开始时间：2018-05-01</span>
                    <span class="creater">创建人：Nina Cui</span>
                    <span>状态：
                        <label class="project status blue">Healthy</label>
                    </span>
                </p>
                <p class="project_detail">
                    <span class="end-time">结束时间：2018-10-01</span>
                    <span>进度：
                        <label class="progress">
                            <label class="progress-bar"></label>
                        </label>&nbsp;&nbsp;23%</span>
                </p>
                <i class="iconfont icon-guanbi1"></i>
            </div>
            <div class="slave_box">
                <i class="priority-icon low">低</i>
                <a href="./project_details.html" class="slave_name">
                    <i class="project_icon"></i>
                    <span>这里书写展示节点的名称NFV2</span>
                </a>
                <p class="project_detail">
                    <span class="start-time">开始时间：2018-05-01</span>
                    <span class="creater">创建人：Nina Cui</span>
                    <span>状态：
                        <label class="project status blue">Healthy</label>
                    </span>
                </p>
                <p class="project_detail">
                    <span class="end-time">结束时间：2018-10-01</span>
                    <span>进度：
                        <label class="progress">
                            <label class="progress-bar"></label>
                        </label>
                    </span>
                    <span>23%</span>
                </p>
                <i class="iconfont icon-guanbi1"></i>
            </div>
            <div class="slave_box left">
                <i class="priority-icon middle">中</i>
                <a href="./project_details.html" class="slave_name">
                    <i class="project_icon"></i>
                    <span>这里书写展示节点的名称NFV3</span>
                </a>
                <p class="project_detail">
                    <span class="start-time">开始时间：2018-05-01</span>
                    <span class="creater">创建人：Nina Cui</span>
                    <span>状态：
                        <label class="project status blue">Healthy</label>
                    </span>
                </p>
                <p class="project_detail">
                    <span class="end-time">结束时间：2018-10-01</span>
                    <span>进度：
                        <label class="progress">
                            <label class="progress-bar"></label>
                        </label>
                    </span>
                    <span>23%</span>
                </p>
                <i class="iconfont icon-guanbi1"></i>
            </div>
            <div class="slave_box">
                <i class="priority-icon low">低</i>
                <a href="./project_details.html" class="slave_name">
                    <i class="project_icon"></i>
                    <span>这里书写展示节点的名称NFV2</span>
                </a>
                <p class="project_detail">
                    <span class="start-time">开始时间：2018-05-01</span>
                    <span class="creater">创建人：Nina Cui</span>
                    <span>状态：
                        <label class="project status blue">Healthy</label>
                    </span>
                </p>
                <p class="project_detail">
                    <span class="end-time">结束时间：2018-10-01</span>
                    <span>进度：
                        <label class="progress">
                            <label class="progress-bar"></label>
                        </label>
                    </span>
                    <span>23%</span>
                </p>
                <i class="iconfont icon-guanbi1"></i>
            </div>
            <div class="slave_box left">
                <i class="priority-icon high">高</i>
                <a href="./project_details.html" class="slave_name">
                    <i class="project_icon"></i>
                    <span>这里是书写关于展示项目标题展示项目标名称NFV1…</span>
                </a>
                <p class="project_detail">
                    <span class="start-time">开始时间：2018-05-01</span>
                    <span class="creater">创建人：Nina Cui</span>
                    <span>状态：
                        <label class="project status blue">Healthy</label>
                    </span>
                </p>
                <p class="project_detail">
                    <span class="end-time">结束时间：2018-10-01</span>
                    <span>进度：
                        <label class="progress">
                            <label class="progress-bar"></label>
                        </label>&nbsp;&nbsp;23%</span>
                </p>
                <i class="iconfont icon-guanbi1"></i>
            </div>
            <div class="slave_box">
                <i class="priority-icon low">低</i>
                <a href="./project_details.html" class="slave_name">
                    <i class="project_icon"></i>
                    <span>这里书写展示节点的名称NFV2</span>
                </a>
                <p class="project_detail">
                    <span class="start-time">开始时间：2018-05-01</span>
                    <span class="creater">创建人：Nina Cui</span>
                    <span>状态：
                        <label class="project status blue">Healthy</label>
                    </span>
                </p>
                <p class="project_detail">
                    <span class="end-time">结束时间：2018-10-01</span>
                    <span>进度：
                        <label class="progress">
                            <label class="progress-bar"></label>
                        </label>
                    </span>
                    <span>23%</span>
                </p>
                <i class="iconfont icon-guanbi1"></i>
            </div>
            <div class="slave_box left">
                <i class="priority-icon middle">中</i>
                <a href="./project_details.html" class="slave_name">
                    <i class="project_icon"></i>
                    <span>这里书写展示节点的名称NFV3</span>
                </a>
                <p class="project_detail">
                    <span class="start-time">开始时间：2018-05-01</span>
                    <span class="creater">创建人：Nina Cui</span>
                    <span>状态：
                        <label class="project status blue">Healthy</label>
                    </span>
                </p>
                <p class="project_detail">
                    <span class="end-time">结束时间：2018-10-01</span>
                    <span>进度：
                        <label class="progress">
                            <label class="progress-bar"></label>
                        </label>
                    </span>
                    <span>23%</span>
                </p>
                <i class="iconfont icon-guanbi1"></i>
            </div>
        </div>
        <!-- slave_info end -->

        <!-- page-start -->
        <div class="page">
            <div class="page_left">上一页</div>
            <div class="page_content">
                <span class="hover">1</span>
                <span>2</span>
                <span>3</span>
                <span>4</span>
                <span>5</span>
                <span>6</span>
                <span>7</span>
                <span>8</span>
                <span>9</span>
                <span>10</span>
                <span>...</span>
                <span>12</span>
            </div>
            <div class="page_right">下一页</div>
        </div>
        <!-- page-end -->
    </div>
    <!-- w3-end -->

    <!-- popup-start -->
    <!-- 创建项目的弹窗 -->
    <div class="add_pop">
        <div class="popup">
            <div class="iconfont icon-guanbi1 close"></div>
            <div class="popup_title">
                创建项目
            </div>
            <div class="add_line"></div>
            <div class="form">
                <form action="">
                    <table>
                        <tr>
                            <td>项目名称</td>
                            <td>
                                <div class="form_input">
                                    <input type="text" placeholder="项目名称">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>项目描述</td>
                            <td>
                                <div class="form_input">
                                    <input type="text" placeholder="项目描述">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>项目优先级</td>
                            <td class="td_option project">
                                <div class="select">
                                    <div class="input_box">
                                        <span>高</span>
                                        <img src="../../static/common/img/bottom.png" alt="">
                                    </div>
                                    <div class="fixed_select">
                                        <span>高</span>
                                        <span>中</span>
                                        <span>低</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>项目负责人</td>
                            <td>
                                <div class="form_input">
                                    <input type="text" placeholder="项目负责人">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>开始日期</td>
                            <td>
                                <input type="text" class="form_input" placeholder="请选择开始日期" id="start_time">
                            </td>
                        </tr>
                        <tr>
                            <td>截止日期</td>
                            <td>
                                <input type="text" class="form_input" placeholder="请选择结束日期" id="end_time">
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <div class="btn">
                                    <button class="close2">取消</button>
                                    <button class="preservation">保存</button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>

    <!-- 删除的弹窗 -->
    <div class="dele_pop">
        <div class="deel_box">
            <h1>是否确认删除该项目？</h1>
            <h2>您是否确认删除该项目，删除之后不可恢复！</h2>
            <div class="btn_box">
                <a href="#" class="dele_colse">取消</a>
                <a href="#" class="dele_ok">确认</a>
            </div>
            <div class="dele_colse">
                <i class="iconfont icon-guanbi"></i>
            </div>
        </div>
    </div>
    <!-- popup-end -->

    <footer>
        <div class="one">
            <a href="#">关于我们</a>
            <a href="#">联系我们</a>
            <a href="#">使用条款</a>
            <a href="#">隐私政策</a>
        </div>
        <div class="two">
            <a href="">©2018 中国移动通信研究院版权所有 京公网安备 11010801000158</a>
        </div>
    </footer>
    <script type="text/javascript" src="../../static/common/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../../static/project/js/laydate.js"></script>
    <script type="text/javascript" src="../../static/common/js/index.js"></script>
    <script type="text/javascript">
        selectfn('.tab_top .options_box span', '.tab_top .select_box', '.tab_top .options_box') // 下拉选项框的方法
        auto.popup('.add_pop', '.add', '.popup .close', '.popup .close2', '.popup .preservation') // 创建新节点的弹窗
        selectfn('.project .fixed_select span', '.project .input_box', '.project .fixed_select')

        // date-start
        lay('#version').html('-v' + laydate.v);
        //墨绿主题
        laydate.render({
            elem: '#start_time',
            theme: 'molv'
        });

        laydate.render({
            elem: '#end_time',
            theme: 'molv'
        });

        auto.popup('.dele_pop', '.slave_box .icon-guanbi1', '.dele_colse', '.dele_ok') // 弹窗
    </script>
</body>

</html>