<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Project Details</title>
    <link rel="icon" href="../favicon.ico" type="image/png">
    <link rel="stylesheet" type="text/css" href="../../static/common/css/iconfont.css">
    <link rel="stylesheet" href="../../static/common/css/reset.css">
    <link rel="stylesheet" href="../../static/common/css/public.css">
    <link rel="stylesheet" href="../../static/project/css/task_details.css">
</head>

<body>
    <!-- banner -->
    <div class="banner">
        <div class="top">
            <div class="top_left w">
                <a href="#" class="t_one"></a>
            </div>
            <div class="top_right w">
                <span class="tr_name">王大拿</span>
                <div class="t_one">
                    <ul class="personal">
                        <img src="../../static/common/img/arrow_03.png" alt="">
                        <a href="#" class="name">王大拿</a>
                        <a href="#">
                            <i class="iconfont icon-set"></i>个人设置</a>
                        <a href="#">
                            <i class="iconfont icon-tuichu"></i>退出登录
                        </a>
                    </ul>
                </div>
                <a href="#" class="t_two"></a>
            </div>
        </div>
        <div class="w3">
            <div class="ban_title">
                <div class="tit">项目列表</div>
                <div class="describe">项目列表整体的一段描述</div>
                <div class="list">包含有
                    <div>
                        <span>3个项目</span>
                    </div>
                    <div>
                        <span>1个高级</span>
                    </div>
                    <div>
                        <span>1个中级</span>
                    </div>
                    <div>
                        <span>1个低级</span>
                    </div>
                </div>
            </div>
        </div>
        <img src="../../static/common/img/project_banner.png" alt="">
    </div>
    <!-- banner-end -->
    <div class="w3">
        <div class="container">
            <div class="crumbs">
                <a href="project_list.html" class="crumb_title">返回项目列表</a>
                <i class="iconfont icon-youjiantou"></i>
                <a href="#" class="crumb_title">项目详细信息</a>
            </div>

            <div class="box">
                <div class="box_title">
                    <i class="iconfont icon-navicon-lcpz"></i>
                    <span>这里书写展示BIOS_config_test1的名称</span>
                    <button>编辑</button>
                </div>
                <div class="line"></div>
                <div class="box_content">
                    <table>
                        <tr>
                            <td>开始时间：</td>
                            <td>2018-07-11</td>
                            <td></td>
                            <td>状态：</td>
                            <td>
                                <span class="color_red">Red</span>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>结束时间：</td>
                            <td>2018-07-16</td>
                            <td></td>
                            <td>优先级：</td>
                            <td>高</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>任务数目：</td>
                            <td>6</td>
                            <td></td>
                            <td>项目管理者：</td>
                            <td>王大花</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>项目描述：</td>
                            <td colspan="5">这是一个测试数据展示，这是一个测试数据展示，这是一个测试数据展示这是一个测试数据展示，这是一个测试数据展示，这是一个
                                测试数据展示，这是一个测试数据展示，这是一个测试数据展示，这是一个测试数据展示，这是一个测试数据展示，这是一个测试数
                                据展示。
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <!-- development-start -->
        <div class="development">
            <a href="../node/node.html" target="_block" class="clearfix">
                <div class="icon_box">
                    <i class="iconfont icon-shejiyukaifa-" style="font-size: 18px;"></i>
                </div>
                <ul>
                    <li>项目设计</li>
                    <li>交换机、服务器的配置</li>
                    <li class="text_right hover"><i class="iconfont icon-jiantou1-copy"></i></li>
                </ul>
            </a>
            <a href="../task/bios_config.html" target="_block" class="clearfix">
                <div class="icon_box">
                    <i class="iconfont icon-hardware"></i>
                </div>
                <ul>
                    <li>项目配置</li>
                    <li>交换机、服务器的配置</li>
                    <li class="text_right"><i class="iconfont icon-jiantou1-copy"></i></li>
                </ul>
            </a>
            <a href="#" class="clearfix">
                <div class="icon_box">
                    <i class="iconfont icon-bushu" style="font-size: 25px;"></i>
                </div>
                <ul>
                    <li>项目部署</li>
                    <li>I层、业务、MANO</li>
                    <li class="text_right"><i class="iconfont icon-jiantou1-copy"></i></li>
                </ul>
            </a>
            <a href="../projectTest/create_test.html" target="_block" class="clearfix">
                <div class="icon_box">
                    <i class="iconfont icon-ceshi1"  style="font-size: 30px;"></i>
                </div>
                <ul>
                    <li>项目测试</li>
                    <li>I层、业务、MANO</li>
                    <li class="text_right"><i class="iconfont icon-jiantou1-copy"></i></li>
                </ul>
            </a>
            <a href="#" class="clearfix">
                <span>功能开发中…</span>
            </a>
        </div>
        <!-- development-end -->

        <!-- 此项目中的任务列表 -->
        <div class="last5">
            <div class="tab_title">执行任务</div>
            <div class="table_show">
                <table rules="all" class="table">
                    <tr>
                        <th>任务名称</th>
                        <th>类型</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    <tr>
                        <td>
                            <a>BIOS_config_test1</a>
                        </td>
                        <td>CMCC_NFVi_Test</td>
                        <td>
                            <span class="color_blue">执行中</span>
                        </td>
                        <td>
                            <button class="button"><i class="iconfont icon-zuzhijiagou-"></i></button>
                            <button class="button"><i class="iconfont icon-shanchu"></i></button>
                            <button class="button"><i class="iconfont icon-queue"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a>BIOS_config_test1</a>
                        </td>
                        <td>CMCC_NFVi_Test</td>
                        <td>
                            <span class="color_ash">未执行</span>
                        </td>
                        <td>
                            <button class="button"><i class="iconfont icon-zuzhijiagou-"></i></button>
                            <button class="button"><i class="iconfont icon-shanchu"></i></button>
                            <button class="button"><i class="iconfont icon-queue"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a>BIOS_config_test1</a>
                        </td>
                        <td>CMCC_NFVi_Test</td>
                        <td>
                            <span class="color_red">失败</span>
                        </td>
                        <td>
                            <button class="button"><i class="iconfont icon-zuzhijiagou-"></i></button>
                            <button class="button"><i class="iconfont icon-shanchu"></i></button>
                            <button class="button"><i class="iconfont icon-queue"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a>BIOS_config_test1</a>
                        </td>
                        <td>CMCC_NFVi_Test</td>
                        <td>
                            <span class="color_green">成功</span>
                        </td>
                        <td>
                            <button class="button"><i class="iconfont icon-zuzhijiagou-"></i></button>
                            <button class="button"><i class="iconfont icon-shanchu"></i></button>
                            <button class="button"><i class="iconfont icon-queue"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a>BIOS_config_test1</a>
                        </td>
                        <td>CMCC_NFVi_Test</td>
                        <td>
                            <span class="color_blue">执行中</span>
                        </td>
                        <td>
                            <button class="button"><i class="iconfont icon-zuzhijiagou-"></i></button>
                            <button class="button"><i class="iconfont icon-shanchu"></i></button>
                            <button class="button"><i class="iconfont icon-queue"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a>BIOS_config_test1</a>
                        </td>
                        <td>CMCC_NFVi_Test</td>
                        <td>
                            <span class="color_blue">执行中</span>
                        </td>
                        <td>
                            <button class="button"><i class="iconfont icon-zuzhijiagou-"></i></button>
                            <button class="button"><i class="iconfont icon-shanchu"></i></button>
                            <button class="button"><i class="iconfont icon-queue"></i></button>
                        </td>
                    </tr>
                </table>
                <!-- page-start -->
                <div class="page">
                    <div class="page_left">上一页</div>
                    <div class="page_content">
                        <span class="hover">1</span>
                        <span>2</span>
                        <span>3</span>
                        <span>4</span>
                        <span>5</span>
                        <span>6</span>
                        <span>7</span>
                        <span>8</span>
                        <span>9</span>
                        <span>10</span>
                        <span>...</span>
                        <span>12</span>
                    </div>
                    <div class="page_right">下一页</div>
                </div>
            </div>
        </div>

        <!-- page-end -->
        <div class="table_top_img">
            <span class="title">每一次新建任务都会创建一个任务工作流</span>
            <a href="../workflow/workflow.html" target="_">创建任务流</a>
        </div>

        <!-- 此项目中的任务列表 -->
        <div class="last5">
            <div class="tab_title">执行任务流</div>
            <div class="table_show">
                <table rules="all" class="table">
                    <tr>
                        <th>工作流名称</th>
                        <th>工作流描述</th>
                        <th>状态</th>
                        <th>是否</br>可构建</th>
                        <th>任务数目</th>
                        <th>操作</th>
                    </tr>
                    <tr>
                        <td>
                            workflow_test2
                        </td>
                        <td>工作流程示例01</td>
                        <td><span class="color_red">Red</span></td>
                        <td><span class="color_blue">True</span></td>
                        <td>3</td>
                        <td>
                            <button class="button"><i class="iconfont icon-zuzhijiagou-"></i></button>
                            <button class="button"><i class="iconfont icon-shanchu"></i></button>
                            <button class="button"><i class="iconfont icon-queue"></i></button>
                            <a href="#">详情</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            workflow_test2
                        </td>
                        <td>工作流程示例01</td>
                        <td><span class="color_red">Red</span></td>
                        <td><span class="color_blue">True</span></td>
                        <td>3</td>
                        <td>
                            <button class="button"><i class="iconfont icon-zuzhijiagou-"></i></button>
                            <button class="button"><i class="iconfont icon-shanchu"></i></button>
                            <button class="button"><i class="iconfont icon-queue"></i></button>
                            <a href="#">详情</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            workflow_test2
                        </td>
                        <td>工作流程示例01</td>
                        <td><span class="color_red">Red</span></td>
                        <td><span class="color_blue">True</span></td>
                        <td>3</td>
                        <td>
                            <button class="button"><i class="iconfont icon-zuzhijiagou-"></i></button>
                            <button class="button"><i class="iconfont icon-shanchu"></i></button>
                            <button class="button"><i class="iconfont icon-queue"></i></button>
                            <a href="#">详情</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            workflow_test2
                        </td>
                        <td>工作流程示例01</td>
                        <td><span class="color_red">Red</span></td>
                        <td><span class="color_blue">True</span></td>
                        <td>3</td>
                        <td>
                            <button class="button"><i class="iconfont icon-zuzhijiagou-"></i></button>
                            <button class="button"><i class="iconfont icon-shanchu"></i></button>
                            <button class="button"><i class="iconfont icon-queue"></i></button>
                            <a href="#">详情</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            workflow_test2
                        </td>
                        <td>工作流程示例01</td>
                        <td><span class="color_red">Red</span></td>
                        <td><span class="color_blue">True</span></td>
                        <td>3</td>
                        <td>
                            <button class="button"><i class="iconfont icon-zuzhijiagou-"></i></button>
                            <button class="button"><i class="iconfont icon-shanchu"></i></button>
                            <button class="button"><i class="iconfont icon-queue"></i></button>
                            <a href="#">详情</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            workflow_test2
                        </td>
                        <td>工作流程示例01</td>
                        <td><span class="color_red">Red</span></td>
                        <td><span class="color_blue">True</span></td>
                        <td>3</td>
                        <td>
                            <button class="button"><i class="iconfont icon-zuzhijiagou-"></i></button>
                            <button class="button"><i class="iconfont icon-shanchu"></i></button>
                            <button class="button"><i class="iconfont icon-queue"></i></button>
                            <a href="#">详情</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            workflow_test2
                        </td>
                        <td>工作流程示例01</td>
                        <td><span class="color_red">Red</span></td>
                        <td><span class="color_blue">True</span></td>
                        <td>3</td>
                        <td>
                            <button class="button"><i class="iconfont icon-zuzhijiagou-"></i></button>
                            <button class="button"><i class="iconfont icon-shanchu"></i></button>
                            <button class="button"><i class="iconfont icon-queue"></i></button>
                            <a href="#">详情</a>
                        </td>
                    </tr>
                </table>
                <!-- page-start -->
                <div class="page">
                    <div class="page_left">上一页</div>
                    <div class="page_content">
                        <span class="hover">1</span>
                        <span>2</span>
                        <span>3</span>
                        <span>4</span>
                        <span>5</span>
                        <span>6</span>
                        <span>7</span>
                        <span>8</span>
                        <span>9</span>
                        <span>10</span>
                        <span>...</span>
                        <span>12</span>
                    </div>
                    <div class="page_right">下一页</div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="one">
            <a href="#">关于我们</a>
            <a href="#">联系我们</a>
            <a href="#">使用条款</a>
            <a href="#">隐私政策</a>
        </div>
        <div class="two">
            <a href="">©2018 中国移动通信研究院版权所有 京公网安备 11010801000158</a>
        </div>
    </footer>

    <script type="text/javascript" src="../../static/common/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../../static/common/js/index.js"></script>
    <script type="text/javascript">
        popup_delete('.icon-shanchu', '是否确认删除该任务？', '您是否确认删除该任务，删除之后不可恢复！')
    </script>
</body>

</html>