<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Task Details</title>
    <link rel="icon" href="../favicon.ico" type="image/png">
    <link rel="stylesheet" type="text/css" href="../../static/common/css/iconfont.css">
    <link rel="stylesheet" href="../../static/common/css/reset.css">
    <link rel="stylesheet" href="../../static/common/css/public.css">
    <link rel="stylesheet" href="../../static/project/css/task_details.css">
</head>

<body>
    <!-- banner -->
    <div class="banner">
        <div class="top">
            <div class="top_left w">
                <a href="#" class="t_one"></a>
            </div>
            <div class="top_right w">
                <span class="tr_name">王大拿</span>
                <div class="t_one">
                    <ul class="personal">
                        <img src="../../static/common/img/arrow_03.png" alt="">
                        <a href="#" class="name">王大拿</a>
                        <a href="#">
                            <i class="iconfont icon-set"></i>个人设置</a>
                        <a href="#">
                            <i class="iconfont icon-tuichu"></i>退出登录
                        </a>
                    </ul>
                </div>
                <a href="#" class="t_two"></a>
            </div>
        </div>
        <div class="w3">
            <div class="ban_title">
                <div class="tit">项目列表</div>
                <div class="describe">项目列表整体的一段描述</div>
                <div class="list">包含有
                    <div>
                        <span>3个项目</span>
                    </div>
                    <div>
                        <span>1个高级</span>
                    </div>
                    <div>
                        <span>1个中级</span>
                    </div>
                    <div>
                        <span>1个低级</span>
                    </div>
                </div>
            </div>
        </div>
        <img src="../../static/common/img/project_banner.png" alt="">
    </div>
    <!-- banner-end -->
    <div class="w3">
        <div class="container">
            <div class="crumbs">
                <a href="project_list.html" class="crumb_title">返回项目列表</a>
                <i class="iconfont icon-youjiantou"></i>
                <a href="project_details.html" class="crumb_title">项目详情</a>
                <i class="iconfont icon-youjiantou"></i>
                <a href="#" class="crumb_title">任务详细配置信息</a>
            </div>

            <div class="box">
                <div class="box_title">
                    <i class="iconfont icon-navicon-lcpz"></i>
                    <span>这里书写展示BIOS_config_test1的名称</span>
                </div>
                <div class="line"></div>
                <div id="unfold">
                    <div class="box_content">
                        <table>
                            <tr>
                                <td>任务类型：</td>
                                <td>BIOS</td>
                                <td></td>
                                <td>状态：</td>
                                <td>
                                    <span class="color_red">Red</span>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>所属项目：</td>
                                <td>CMCC_NFVi_Test</td>
                                <td></td>
                                <td>是否可构建：</td>
                                <td>
                                    <span class="color_blue">True</span>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>下次创建序号：</td>
                                <td>6</td>
                                <td></td>
                                <td>是否在列队中：</td>
                                <td>
                                    <span class="color_green">Red</span>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>下次创建序号：</td>
                                <td colspan="5">这是一个测试数据展示，这是一个测试数据展示，这是一个测试数据展示这是一个测试数据展示，这是一个测试数据展示，这是一个 测试数据展示，这是一个测试数据展示，这是一个测试数据展示，这是一个测试数据展示，这是一个测试数据展示，这是一个测试数
                                    据展示。
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div id="fold" title="展开或折叠">
                    展开详情
                </div>
            </div>
        </div>

        <!-- 最后五次创建的任务 -->
        <div class="last5">
            <div class="tab_title">最后五次创建的任务</div>
            <div class="table_show">
                <table rules="all" class="table">
                    <tr>
                        <th>创建ID</th>
                        <th>结果</th>
                        <th>任务名称</th>
                        <th>节点</th>
                        <th>创建信息 </th>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>
                            <span class="color_red">Wrong</span>
                        </td>
                        <td>NFV function test</td>
                        <td>NFVT</td>
                        <td>NFVT</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>
                            <span class="color_red">Wrong</span>
                        </td>
                        <td>NFV function test</td>
                        <td>NFVT</td>
                        <td>NFVT</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>
                            <span class="color_red">Wrong</span>
                        </td>
                        <td>NFV function test</td>
                        <td>NFVT</td>
                        <td>NFVT</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>
                            <span class="color_red">Wrong</span>
                        </td>
                        <td>NFV function test</td>
                        <td>NFVT</td>
                        <td>NFVT</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>
                            <span class="color_red">Wrong</span>
                        </td>
                        <td>NFV function test</td>
                        <td>NFVT</td>
                        <td>NFVT</td>
                    </tr>
                </table>
                <div class="table_but">
                    <a href="./last_five_poject.html">查看更多</a>
                </div>
            </div>
        </div>

        <!-- 历史纪录 -->
        <div class="historical">
            <div class="his_title">任务修改历史记录</div>
            <div class="his_box clearfix">
                <div class="his_minbox">
                    <div>
                        <div class="hismin_title">
                            <i class="iconfont icon-navicon-lcpz"></i>
                            <span>Workflow_test_example_01</span>
                        </div>
                    </div>
                    <div class="his_line"></div>
                    <table>
                        <tr>
                            <td>任务修改类型：</td>
                            <td>变</td>
                        </tr>
                        <tr>
                            <td>修改时间：</td>
                            <td>2018-07-11 17:23:30</td>
                        </tr>
                    </table>
                </div>
                <div class="his_minbox">
                    <div>
                        <div class="hismin_title">
                            <i class="iconfont icon-navicon-lcpz"></i>
                            <span>Workflow_test_example_01</span>
                        </div>
                    </div>
                    <div class="his_line"></div>
                    <table>
                        <tr>
                            <td>任务修改类型：</td>
                            <td>变</td>
                        </tr>
                        <tr>
                            <td>修改时间：</td>
                            <td>2018-07-11 17:23:30</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="one">
            <a href="#">关于我们</a>
            <a href="#">联系我们</a>
            <a href="#">使用条款</a>
            <a href="#">隐私政策</a>
        </div>
        <div class="two">
            <a href="">©2018 中国移动通信研究院版权所有 京公网安备 11010801000158</a>
        </div>
    </footer>

    <script type="text/javascript" src="../../static/common/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../../static/common/js/index.js"></script>
    <script type="text/javascript">
        auto.unfoldOrFold() // table 折叠或展开
    </script>
</body>
</html>